[2017-01-10 06:56] leontebbens commented on #193
I think we should offer two options:
- a more secure one: prompt user for typing a password
- a less secure but automatable one: passwords in Shell variables
I see both options in other tools. I do not see often plain text passwords as command line params.

[2017-01-10 07:05] mumoshu commented on #214
@whereisaaron Thanks a lot for your detailed answer. It really helped me understand what's going on. Also, as a maintainer, let me say sorry to you for breaking your use-case multiple times 😢

I'll merge #220 asap after sorting out #199

[2017-01-10 07:19] mumoshu commented on #224
@whereisaaron Thanks again for your continuous feedbacks.

It definitely seems like an issue and I'd like it to be fixed in the same way as we've agreed in https://github.com/coreos/kube-aws/pull/199#issuecomment-271503071.

Would you mind sending a pull request for it or should I?

[2017-01-10 08:30] redbaron commented on #224
What about keeping `rkt` but ignoring `rkt rm` errors? I am doing that in https://github.com/coreos/kube-aws/pull/217

This would not trigger tasks restart and therefore no garbage will be accumulated with some "undeletable" garbage left until rkt bug is fixed.

I think ignoring `rkt rm` errors is fine as it is a cleanup task and main goal of the script already achieved.

[2017-01-10 08:35] Overbryd commented on #186
Nice workaround. Quote-ception 😉

Maxim Ivanov <notifications@github.com> schrieb am Mo. 9. Jan. 2017 um
12:53:

[2017-01-10 11:02] dzavalkinolx commented on #134
We also need some solution for logrotate / log truncate be implemebted in kube-aws. We have some containers with 5GB log files. Since we relay logs from containers to Elasticsearch there is no need to keep those log files.

[2017-01-10 12:27] redbaron commented on #134
@mumoshu not saying that there is no need discuss log handling , but this PR solves immediate  problem,so maybe have it merged first?

[2017-01-10 12:31] mumoshu commented on #134
@redbaron Which PR are you wishing to be merged?

[2017-01-10 12:39] mumoshu commented on #134
@dzavalkinolx Thanks for your feedback 👍

I'd appreciate it if you could share the template for log aggregation stack plus docker images. Everyone reading this issue would benefit from that and I'm even thinking of linking your work from kube-aws doc.

Regarding log rotation, it can be enabled in two ways without modifying kube-aws:

* Modify cloud-config-worker/controller to include logrotate con

[2017-01-10 12:49] mumoshu commented on #224
@redbaron Thanks for your suggestion. Makes sense.

I'd personally prefer `docker run` w/ a comment linking to the rkt issue and TODO to migrate to rkt someday because it's a bit cleaner IMHO. However, I'm equally ok with `rkt run` followed `rkt rm` with ignoring errors on `rkt rm`. You can keep your PR as is in that regard 👍

[2017-01-10 13:20] redbaron commented on #134
@mumoshu , oops, I thought I am responding to a PR. I was referring to `DOCKER_OPTS` solution proposed in first message here - it is quick, reliable and works for most cases.

[2017-01-10 13:27] mumoshu commented on #134
@redbaron Ah, got it!

I'm not yet sure if it is recommended setup for log-rotation as it targets just logs from docker containers but not logs from rkt pods, kubelet, apiserver.

So, how about supporting it via new, more general experimental feature enabled via cluster.yaml like the below?

[code]

[2017-01-10 13:31] redbaron commented on #134
yes, it is not a generic solution, but it covers at least some potential pitfalls. IMHO kube-aws should provide sane defaults. Use of `experiments.docker.opts` helps and might be used to override defaults though.

[2017-01-10 16:36] tnguyen14 opened #229 "Error: unknown flag: --generate-ca"
Trying to follow the documentation for the `render credentials` step, but I got the following error:

[code]

I am on `kube-aws` version 0.8.3. Help doesn't show me what the flags are:

[code]

I'm not sure if I am doing something incorrectly.

[2017-01-10 16:56] ankon opened #230 "RBAC feature should also provide minimally needed roles"
I enabled the RBAC feature, and then found that "everything was broken" :)

- the worker nodes couldn't connect to the api server until I provided a ClusterRoleBinding from User 'kube-worker' to ClusterRole 'system:node'
- the kube-dns pod and the dashboard pods failed and restarted because they couldn't connect to the API server, with errors indicating that the api server IP 10.3.0.1 is completel

[2017-01-10 17:07] redbaron commented on #229
use latest v0.9.3-rc.2

[2017-01-10 17:17] ankon commented on #230
Additionally this set was needed for making kube-dns etc actually work:

[code]

Based on https://blog.kcluster.io/setup-role-based-access-control-rbac-and-audit-logs-for-kubernetes-clusters-9e4db5b67020

[2017-01-10 17:46] whereisaaron commented on #224
I prepared a PR #231 is switch to using docker to perform the taint task, at least until rkt is fixed. The exact same patch approach as used to fixed the same fault on the controller task in #199.

I tested deploying a node-pool or workers with this patch and the experimental.taint setting enabled and the right thing happened. The taint was applied and the node uncordoned. All looks good in the lo

[2017-01-10 18:33] whereisaaron commented on #230
Great @ankon, I'd _love_ to know what the actual minimal RBAC permissions required for a functioning `kube-aws` install were. But while I'd like those as an install option or an example, I think the default `kube-aws` should include more open permissions, to enable everything to work just as if RBAC was not enabled.

If minimal permissions are applied by default, new users are going to get frustra

[2017-01-10 19:37] tnguyen14 commented on #229
when will it be generally available?

I was just doing `kube-aws render` before, and I see the files `ca.pem` and `ca-key.pem` generated in `credentials`. Is that the same?

[2017-01-10 19:59] lucab commented on #224
Partly hijacking the ticket for a rkt question: from the mounts number in the related PR, there seems to be a mount propagation loop that I would not expect from pods not using stage1-fly and performing proper rm. Can anybody please check and separately post if/what are the mounts being propagated and if there is a crash-looping fly pod?

[2017-01-10 21:22] ArchiFleKs opened #232 "node taint failed"
Hi, I'm not really sure I fully understand how taint works. But I noticed that on v0.9 controllers node are not marked as unschedulable, nor in the apiserver parameters.

In the userdata, there is a command that failed :
https://github.com/coreos/kube-aws/blob/master/config/templates/cloud-config-controller#L479

[code]

From what I understand, taint should be a K=V type like in this issue : https

[2017-01-11 00:31] mumoshu commented on #134
@redbaron Thanks, it makes sense. So,

Are you ok with:

[code]

Or would you rather like to have:

[code]

as default?

Personally I tend to prefer the former because it would keep cluster.yaml spec compact; no need to add various keys like `docker.log.maxFile`, `docker.log.labels`, `docker.log.env`, etc. over time, hence [my previous comment](https://github.com/coreos/kube-aws/issues/134#issueco

[2017-01-11 00:39] redbaron commented on #134
Neither. first one ships with experimental feature enabled by default which makes it not an experimental feature :) second one just asking for explosion for options.

I'd add `--log-driver json --log-opt max-size 50m` to docker opts inside a template, which is then completely overwritten by `experimental.docker.opts` if it is set/enabled.

[2017-01-11 01:00] mumoshu commented on #134
Thanks! Then, how about:

[code]

in cluster.yaml while having the below in e.g cloud-config-worker/controller:

[code]

[2017-01-11 01:09] dominiek opened #234 "Invalid Key triggers Segfault"
In previous versions this error occurred when the `kmsKeyArn` was invalid:

[code]

But in latest versions including `v0.9.3-rc.2` the following happens:

[code]

[2017-01-11 01:13] redbaron commented on #134
I like it, what is `.Docker.Log.Opts` though?  Wasn't it .Experimental.Docker.Opts?
[code]

[2017-01-11 01:14] redbaron commented on #234
fixed in master

[2017-01-11 01:37] whereisaaron commented on #232
Hi @ArchiFleKs! You are correct it should be '=' and this has been patched by PR #199, combined with another fix for the taint-and-cordon task on controllers (Ref #215 #199 for controller, #231 for similar fix on workers).

[2017-01-11 01:47] whereisaaron commented on #224
Hi @lucab have a read of #199 for more info. A failure to clean up mounts in `rkt rm` causes systemd units to loop and thus leak lots of mounts very quickly. That is fixed for now by using docker for the same task until `rkt rm` is fixed.

[2017-01-11 03:41] mumoshu commented on #232
@ArchiFleKs Thanks for your report 👍
As @whereisaaron explained, this should be fixed in v0.9.3-rc.3 released today. Would you mind trying it and reopen if the issue still persists?

[2017-01-11 03:42] #232 closed

[2017-01-11 03:45] mumoshu commented on #224
@lucab Would you mind sharing us how to look for/investigate into the mounts actually being over-propagated? Example commands would greatly help.

[2017-01-11 03:48] mumoshu commented on #222
Thanks a lot for your contribution here :bow:
I'm closing this as the PR adressing this issue is merged but please feel free to reopen if the original issue still persists.

[2017-01-11 03:48] #222 closed

[2017-01-11 06:26] bgeesaman commented on #198
@martindanko I ran into this exact issue with us-east-2 (Ohio) and now ca-central-1 (Canada) and eu-west-2 (London).  Kubernetes 1.4.7 added support for us-east-2, but the fix you referenced here: https://github.com/kubernetes/kubernetes/pull/38880 is needed to get the newest two regions in place.  Current tagged milestone on that issue is 1.5.0. So yes, you can't use these two regions ATM.

If yo

[2017-01-11 09:47] ankon commented on #230
That does sound awfully familiar ... :)

Indeed, having a good OOB experience is really important, but for production at one point you should understand RBAC and work with the minimal permissions _for your problem_ only. I think that it would make sense to just document these, and describe how to start a RBAC-enabled cluster without any "convenience" roles and bindings.

[2017-01-11 10:59] tnguyen14 opened #236 "Should userdata folder be part of version control?"
I am wondering if the `userdata` folder should be part of git, or whether it should be gitignored.

@robszumski says that it can be used as-is https://twitter.com/robszumski/status/818902908448014337, but I'm not sure what that means for version control.

The problem I see with having it in git is that if someone else wants to do `kube-aws up`, it will throw an error if the `userdata` folder is th

[2017-01-11 11:44] redbaron commented on #236
serdata is coupled with content of stack-template, for example `AWS::CloudFormation::Init` resource in `stack-template.json` is used by `cfn-init` scripts in userdata. So they got to be in sync and kept together

[2017-01-11 15:44] robszumski commented on #236
@tnguyen14 From your original tweet I thought you were worried about editing it. As @redbaron stated, you will need both the user-data and the stack template in order to `up`. It's fine to keep it under version control as all of the sensitive bits are templated in as encrypted values.

[2017-01-11 16:24] drywheat opened #237 "`kube-aws update` fails when updating credentials"
### Library versions

platform: **MacOS 10.12.1**
kube-aws: **v0.9.3-rc.2**
awscli: **aws-cli/1.11.36 Python/2.7.10 Darwin/16.1.0 botocore/1.4.93**

### Synopsis

I was able to render my credentials, stack and stand up a k8s cluster using `kube-aws` and the online docs for guidance. After my new stack was operational I realized that I configured my **externalDNSName** name incorrectly and needed t

[2017-01-11 17:01] redbaron commented on #237
Looks like you didn't set `createRecordSet: true`

[2017-01-11 18:10] drywheat commented on #237
I have `createRecordSet: true` inside of my cluster.yaml file and I've verified that it DOES create the ELB alias record inside of my Route53 hosted zone.

Why did you suspect that it was not set?

[2017-01-11 18:18] redbaron commented on #237
well, because CF things there is nothing to do and Route53 entry is conditionally included based on `createRecordSet` value.

OK I re-read your initial message, you mentioned `kube-aws render credentials`, but did you do `kube-aws render stack` after updating cluster.yml? try running it.

Also try to use most recent RC, important changes were added there

[2017-01-11 18:31] drywheat commented on #237
I initially tried w/o rendering the stack but, after that failed, I then proceeded to render the stack and try again. I even uploaded my `stack-template.json` file to my s3 bucket after performing all of these rendering actions. It failed in the exact same way after each step.

I wasn't aware that a new RC was released yesterday. I'll download that binary and try to replicate the error again, this

[2017-01-11 18:45] redbaron commented on #237
If new version still doesn't work, do a diff between `kube-aws render stack --export --pretty-print` output before and after update of `cluster.yml`, it should show changes in `ExternalDNS` CF section.

[2017-01-11 19:44] whereisaaron commented on #230
How about this for an agena?

- [ ] Write a 'How to Enable and Bootstrap RBAC' page for the 'Documentation' folder with example permissions
- [ ] Create an `experimental.rbac` option for `cluster.yaml` to enable RBAC, with option to install:
  - [ ] No permissions
  - [ ] Minimal, cluster works, workers can join permissions
  - [ ] Fully open permissions
- [ ] Convince `kube-aws` community to enab

[2017-01-11 19:52] ankon commented on #230
That really sounds like a good plan!

Need to think a bit about it further, but maybe I can help here - at least my memory of what to do is still fresh ;)

[2017-01-12 00:06] redbaron opened #238 "Support the use-case to manage multiple kube-aws clusters' configurations optionally inheriting organization-specific customizations with a version control system like Git"
We use git branching to track customizations on top of kube-aws generated CF/userdata. Having nodepools as a separate level with arbitrary paths complicates things for us. It also leads to not insignificant code duplication in `nodepool/`.

What was justification for such split? would you consider PR which manages nodepools as part of stack-template.json? Either embedded or as a nested CF stack.

[2017-01-12 00:08] mumoshu commented on #208
@nicerobot Thanks for the info!
I'd been misunderstanding how a mount target works.
Then, I guess you need to deploy at least a part of your worker nodes, which you'd like to mount EFS to, to the existing subnet which is assigned to the mount target in concern.
#227 is in progress for that.

[2017-01-12 00:15] mumoshu commented on #238
@redbaron We've split templates to:

* Avoid the size limitation of cfn stack templates and
* To quit hard-coding vars like vpcID, routeTableID, workerSecurityGroupIds into the resulting/exported cfn template (#195 is wip) in the future

Also, would you mind sharing me example(s) of the "insignificant code duplication" you've mentioned? Anyways I guess we could fix that separately without embedded

[2017-01-12 00:18] mumoshu commented on #234
@dominiek Thanks for reporting the issue!
Sorry for the inconvenience but the fix in included in v0.9.3-rc.3.
Could mind retrying with it and reopen if the issue still persists?

[2017-01-12 00:18] #234 closed

[2017-01-12 00:23] mumoshu commented on #238
Could you also share your thoughts on how would the whole files and directories would be structured after the change you've wanted, or does fixing just `stack-template.json` solve your issue?

[2017-01-12 00:29] redbaron commented on #238
OK, lets discuss that:
 * AFAIK stack size limitation when using s3 bucket and current main stack already reaches that size.
 * They are already "hardcoded" for main template, right? If nodepool is just another ASG in main CF or a nested CF stack which uses values from parent, how is it worse than what we have now?
 * From the brief look `nodepool/config/config.go` is a subset of `config/config.go

[2017-01-12 00:31] redbaron commented on #238
Well, having one `cluster.yaml` and one `stack-template.json` seems to be capable of supporting nodepools just fine. Luckily there is worker userdata is already reused

[2017-01-12 00:33] mumoshu commented on #238
Thanks for the additional info!

Sorry for missing the context here but anyways I'd like to inform that user-data/cloud-config-worker is managed separately among a main stack and node pools to allow customization per main/node pool.

[2017-01-12 00:35] mumoshu commented on #238
However, for example if duplicated blocks in  `cloud-config-worker` files are a problem, we'd probably introduce e.g. a "cloud-config template helper" to reduce them.

[2017-01-12 00:38] mumoshu commented on #238
Just to be clear but I'm rather eager to make a step change like you've suggested but that should be done as long as the end result keeps our requirements IMHO, or the discussion to narrow down our reqs would be the first step.

[2017-01-12 00:48] redbaron commented on #238
Ah, true. Even more headache.

See,you cater for customization, but it is not customization friendly. Once you modify render output you are on your own, all kube-aws can do is to wipe out your changes on next render. So we are developing a tool which uses git branching to keep track of customizations, where kube-aws renders into "vanilla" branches, then it got merged into "tailored" branch where a

[2017-01-12 00:55] mumoshu commented on #238
They are already "hardcoded" for main template, right? If nodepool is just another ASG in main CF or a nested CF stack which uses values from parent, how is it worse than what we have now?

Yes 👍 Therefore the limit is now 460,800 bytes hence kube-aws provides approximately 400KB left for user-customization per cfn stack today. Also beware of my guess that a resulting stack template rendered with

[2017-01-12 01:04] redbaron commented on #238
Hm, then having a single `nodepool-template.json` which for each nodepool goes into separate CF template in S3 bucket and then single `stack-template.json` which glues them all should scale `400*1024/len('AWS::EC2::CloudFormationStack')` times :)

I am really not concerned about `.go` code duplication as it has no effect on the problem I am solving, but it might be an argument for you or somebody

[2017-01-12 01:05] mumoshu commented on #238
@redbaron I'm interested to your use-case 👍
Believing it would help me further understand your case, would you let me ask for examples of "stable paths"?

[2017-01-12 01:14] mumoshu commented on #238
Sounds good 👍 but could you clarify a bit? I guess the single template to nest all the stacks including the ones for main and node pools itself can be achieved out of kube-aws. The issue is that the way to "propagate" outputs from a stack(probably a "main" stack) to a node-pool stack inside a "root" template is missing. It can be resolved via #195, right?

[2017-01-12 01:15] redbaron commented on #238
If all following branches:
 -  `vanilla`: result of `kube-aws init --kms-key CHANGE_ME .. && kube-aws render` committed as-is)
 - `tailored`: set of common changes maintained internally for the benefit of all clusters in organization)
 - `kluster-<NAME>`: individual clusters where `kube-aws up` is executed from

Have same paths, then we can use power of git to track updates in kube-aws without loo

[2017-01-12 01:16] mumoshu commented on #238
Thanks for your replies!

ok then we can discuss that separately 👍
I'm still interested to your use-case.

[2017-01-12 01:25] mumoshu commented on #238
@redbaron I assume that your use-case is: "how to manage multiple kube-aws cluster(kcluster)s which may or may not read organization-wide common **configuration**(including **settings** fed to `cluster.yaml`, **changes** applied to `stack-template.json` and `cloud-config-*`) ", right?

If so, what kind of information is contained in the "set of common changes" in the `tailored` branch?

I'm consid

[2017-01-12 01:33] redbaron commented on #238
Yes, then `kube-aws nodepool init <NAME>` will only be adding entries to `cluster.yml`.

Yes, it is not the way kube-aws currently work, but it is doable.  Looks like https://github.com/coreos/kube-aws/pull/195 has much wider scope than just template nesing.

Fundamentally for that to work we'd need:
 - `root-stack.json` which is doing nothing more than just listing all other stacks and passing ou

[2017-01-12 01:40] redbaron commented on #238
yes and still be able to benefit from improvements which new version of kube-aws provides without labor intensive cherry-picking individual changes.

It would be nice, but I am not sure it is possible without becoming another Git :)

Kind of customizations we are going to have are mostly those which are not supported by kube-aws and some of them will never be: existing  subnets, multiple EFS, Vaul

[2017-01-12 02:20] mumoshu commented on #238
How are you exactly going to apply those customizations?

* Probably with diff patches which are under version control applied to `stack-template.json` and `cloud-config-worker` generated on the fly?
* Probably with a script (1) to obtain vault secrets with a vault api key (2) and the fed the vault secrets to `cloud-config-worker`?

or something else?

[2017-01-12 02:29] mumoshu commented on #238
We won't version-control kube-aws generated assets but could provide a framework to accept common customizations to these assets 😃

Then, you can define your customizations entirely in dedicated files(script to modify kube-aws assets? diff patches?) and put those customizations among all the klusters under version control of Git repo(s)/branch(s).

[2017-01-12 02:34] mumoshu commented on #238
The framework mentioned above could be something like @c-knowles suggested before in https://github.com/coreos/kube-aws/issues/96#issuecomment-263835808; hooks

[2017-01-12 02:34] redbaron commented on #238
They are done by committing either to `tailored` branch (which a set of common changes, which then merged into all `kluster` branches) or to individual `kluster` branches.

Script simplifies all the dance around git, but it is doing nothing more than a sequence of checkouts, kube-aws calls and merges. Vault integration is done by adding/modifying systemd unit files in userdata.

It doesn't matter

[2017-01-12 02:38] redbaron commented on #96
As mush as I like YAML, JSON works better when templated as there are no whitespaces to hiding around to make  life miserable :)

[2017-01-12 02:39] mumoshu commented on #238
I guessed you've been managing them in other form inside the `tailored` branch anyways, right?

I'd imagined that with the framework, you could generate each `kluster` branch from the `tailored` branch containing customizations fed to kube-aws via the framework, in a more straightforward way.

[2017-01-12 02:41] redbaron commented on #238
no, why? first commit on `tailored` branch is exact output of `kube-aws init && kube-aws render`

[2017-01-12 02:49] mumoshu commented on #238
Yes, but I guess you apply your further **customizations** on the contents of `tailored` branch, right?
I'd rather suggest managing only (1) general configuration per kluster (a.k.a cluster.yaml) and (2) common configurations optionally inherited to kluster(s)  (NEW!) and (3) patches to customize your stack-template.json, cloud-config-worker, credentials, etc per kluster and (3) the list of kluste

[2017-01-12 02:51] icereval commented on #96
For the discussion, I've written a couple helm charts and I do agree it takes a bit of getting used to/debugging to get right. e.g. https://github.com/kubernetes/charts/blob/master/stable/kube2iam/templates/daemonset.yaml#L41

[2017-01-12 03:01] redbaron commented on #238
This makes it hard to maintain mainly because of (3). preparing/testing/appying these patches are going to be bad experience for everybody. Imagine if  new version of `kube-aws render` conflicts with one of the patch prepared with previous one. Git merge conflicts are intuitive to resolve and need to be done once only.

In our workflow `tailored` branch is not per cluster, it is a modified output

[2017-01-12 03:02] mumoshu commented on #238
Aha, so now I guess what you'd need is:

In the `tailored` branch, something like:

* node-pools/
  * ondemand/
  * spot/
  * connectslegacynetwork/

Then in a `kluster` branch you can choose which node pools to be actually created for the kluster.
A node pool's stack names are name-spaced under a main's stack name.

[2017-01-12 03:16] mumoshu commented on #238
...and if you case about duplication among the main and the node pool's `stack-template.json`s, helpers suggested in https://github.com/coreos/kube-aws/issues/238#issuecomment-272040832 would help?

[2017-01-12 03:20] redbaron commented on #238
That is one way to do it, one which I wanted to avoid because these nodepools not only separated by function, they also better be one per AZ right? Now imagine we need to add new daemon to all workers, how many files need to be edited with same copy paste?  Doing https://github.com/coreos/kube-aws/pull/217 I had to make same changes to 2 files and that repetitive work already killed me :)

That is

[2017-01-12 03:27] redbaron commented on #238
A bit of duplication between 2-4 files is fine, no need to normalize everything to absolute extreme :)

[2017-01-12 04:43] mumoshu commented on #238
I can't stop being impressed to your deep understanding of the problem 👍 Thanks for your patience here!

ok then introducing helpers would be a solution for not this but for another problems.

How about the following in the `tailored` branch?

* cluster.yaml
* stack-template.json
* credentials/
* user-data/
* node-pools/
  * `<fixed but arbitrary-to-your-org name 1 e.g. ondemand-1a, spot-1b, legac

[2017-01-12 04:51] mumoshu commented on #238
Or I'd suggest adding options in `cluster.yaml` to specify arbitrary paths of files which are embedded eventually to a cfn stack template. Such paths would include `stack-template.json`, `cloud-config-worker`, `credentials/*`.

[2017-01-12 05:02] billyteves opened #239 "etcd autoscale setup"
I hope there is a chance to be have an autoscale for etcd. Similar to what high-availability of controller can do.

[2017-01-12 09:12] redbaron commented on #238
Ideal layout for me would be:
[code]

where cluster.yaml controls both "main" setup and nodepools. Then we scrap all `kube-aws nodepool` commands and make  regular `kube-aws up/update` controll whole cluster like it was originally.

Individual nodepool config in cluster.yaml may choose to override path to userdata files, but by default it points to the same set. If there was a  `.customSettings` p

[2017-01-12 10:07] ArchiFleKs opened #240 "Allow CoreOS updates by adding nodes to etcd as proxy"
Currently, updates strategy is off on Worker node and controllers.

I dont know if that would be the right approach but maybe we could add the CoreOS instances to ETCD, maybe as proxy to take advantages of the etcd-lock reboot strategy ?

[2017-01-12 10:28] ArchiFleKs opened #241 "Allow flannel to use a different backend"
Hi, by default flannel uses VXLAN to encapsulated traffic which is fine on AWS, because MTU are big but it can diminish performance compare to native L3 because of encapsulation.

[Flannel](https://github.com/coreos/flannel) has multiple backends like `aws-vpc` which can enable native vpc route table and optimize network performance.

I'm not saying we should make it default, but maybe offer the c

[2017-01-12 10:31] mumoshu commented on #238
Sounds good!

Several things I'd like to add:

* `nodepool-template.json` should be named `node-pool-stack-template.json` or `stack-templates/node-pool.json` for consistency. The latter would be better.
* `root-template.json` should be named `root-stack-template.json` or `stack-templates/root.json` for consistency. The latter would be better.
* `stack-template.json` should renamed to `main-stack-t

[2017-01-12 10:40] mumoshu commented on #238
@redbaron Would you mind changing the subject of this issue to something like "Support the use-case to manage multiple kube-aws clusters' configurations optionally inheriting organization-specific customizations with a version control system like Git"?

[2017-01-12 10:44] mumoshu commented on #239
Thanks for posting this!
Not sure it is feasible to auto-scale a metadata store like Etcd in kube-aws but I'll keep this open for a while to hear from the community.

[2017-01-12 10:47] mumoshu commented on #240
Hi, thanks as always!
I'm personally not going to use the automatic update feature of CoreOS in production without an imaginary feature to postpone a reboot until all the pods running on the node moves to existing node(s). I'm open to suggestions though!

[2017-01-12 10:50] redbaron commented on #240
doesn't node drain feature help doing it?

[2017-01-12 10:52] redbaron commented on #238
@mumoshu that sounds perfect for my usecase! I'll prepare something over weekend to show

[2017-01-12 10:57] mumoshu commented on #240
Not really. AFAIK it waits for pods on a node to be deleted but not for new pods on another nodes to be running.

[2017-01-12 10:58] mumoshu commented on #238
@redbaron Thanks for the discussion! I'm really looking forward to it 👍

[2017-01-12 11:06] redbaron commented on #240
So *wait-before-reboot* logic would be:
 - mark node so that no _new_ pods are scheduled to it (how?)
 - get list of running pods from a node
 - drain a node
 - poll k8s controllers waiting until all pods from (2) are running elsewhere.
 - reboot.

Right?

[2017-01-12 17:21] danielfm commented on #237
Another valid use case is that eventually we'd want to rotate the certificates, without changing the `externalDNSName`. Today, if we just run `kube-aws render credentials` and then `kube-aws update`, as instructed by the [documentation](https://github.com/coreos/kube-aws/blob/master/Documentation/kube-aws-cluster-updates.md), the same error occurs:

[code]

[2017-01-12 17:34] redbaron commented on #237
@danielfm do you still see it if you delete all `credentials/*.enc` and run update?

[2017-01-12 17:36] danielfm commented on #237
@redbaron Hmm, didn't try that.. one test I'm performing right now was to add a comment to both `cloud-config-controller` and `cloud-config-worker` files, and the update is rolling as we speak. Let me see if this works and I'll test your suggestion as well.

[2017-01-12 17:36] redbaron commented on #236
@tnguyen14 maybe I lack context, but why deleting userdata is needed to create a new cluster?

[2017-01-12 17:40] tnguyen14 commented on #236
Oh, hmm, let me clarify.

When someone else wants to create a new cluster, they would need to run `kube-aws render` to create their own `credentials` folder, is that correct? If so, this command will return an error if the `userdata` folder already exists, even though the `credentials` folder is still created.

[2017-01-12 17:47] redbaron commented on #236
credentials are not included into `userdata` folder, files there are templates  which are dynamically templated when you run `up/update`.

So if you want have a new set of credentials you can have it, just run `kube-aws render credentials && rm credentials/*.enc`

[2017-01-12 17:52] redbaron commented on #239
I think it can be closed as duplicate of https://github.com/coreos/kube-aws/issues/27

[2017-01-12 17:53] tnguyen14 commented on #236
yeah I know `credentials` are not in `userdata`. I just see the behavior that running `kube-aws render` will error if either of `credentials` or `userdata` exists.

so will `kube-aws render credentials` not check for `userdata`? and why `rm credentials/*.enc`?

[2017-01-12 17:58] redbaron commented on #236
which version do you use? I can run `[[ -d credentials ]] && kube-aws render stack` as much as I want and there is no error.

[2017-01-12 18:09] tnguyen14 commented on #236
[code]

seems to be the latest?

[2017-01-12 18:11] redbaron commented on #236
use latest RC from releases page

[2017-01-12 19:09] drywheat commented on #237
Just so that we're all on the same page @danielfm, can you verify that you're using kube-aws **v0.9.3-rc.2**?

[2017-01-12 20:24] danielfm commented on #237
@drywheat `kube-aws version v0.9.3-rc.3`

[2017-01-12 21:29] helinwang opened #244 "Creating cluster without having a domain name"
After following the full tutorial, my understanding is that one must own a domain name to create a kubernetes cluster on AWS.
E.g., need a domain name for parameter `--external-dns-name` in `kube-aws init`.

Considering not everyone owns a domain. Are there any option for one to create a cluster without domain name? (E.g., access the cluster by ip, not by domain name)

[2017-01-13 01:28] mumoshu commented on #244
@helinwang Thanks for the feedback!

It definitely seems like an issue I'd like to fix but several things to be considered:

* Does modifying your `/etc/hosts` to point to public IPs of your controller ELB load balancer work? I believe running `dig <elb endpoint>` after `kube-aws up` reveals actual public IPs of your ELB.
* An ELB is required (at least in kube-aws) in front of controller nodes ser

[2017-01-13 01:30] mumoshu commented on #239
@redbaron AFAIK, no. #27 may utilize ASGs for discovery and recovery but not for auto-scaling.

[2017-01-13 01:56] mumoshu commented on #241
Thanks for raising this @ArchiFleKs!
I'd rather like to add a feature to allow switching among backends as long as it is documented carefully with the limitation. IMHO that backend is just for experiments for me with the limitation but I'd like to hear from the community for real-world use-cases.

[2017-01-13 01:59] mumoshu commented on #224
I'm closing this  as v0.9.3-rc.4 including the fix for this issue is released.
However please feel free to reopen if the issue still persists! Thanks.

[2017-01-13 01:59] #224 closed

[2017-01-13 02:30] mumoshu commented on #203
It seems like the doc had been removed (hence 404) and is now coming back via https://github.com/coreos/docs/pull/970

[2017-01-13 03:18] mumoshu commented on #90
@aholbreich FYI, regarding one of your comment:

Probably in a way other than you might have expected but the work is ongoing at #238.

[2017-01-13 03:24] mumoshu commented on #181
Closing this as `t2.medium` has been the default instance type since v0.9.3-rc.3.
Although it is working fine for dev clusters (at least for me), please refrain from running prod clusters with neither it nor the former default `m3.medium` 😄
If you've encountered any problems with the new default but for dev clusters, please open another issues.

Thanks to all of you for the supports!

[2017-01-13 03:24] #181 closed

[2017-01-13 03:36] mumoshu commented on #238
Hi @redbaron, I began to believe that making `kube-aws up`, `kube-aws updated` and `kube-aws destroy` to work on `root-stack-template.json` i.e. the whole cluster instead of `stack-template.json` i.e. the main cluster will also make it possible to achieve what I've mentioned in an another issue https://github.com/coreos/kube-aws/issues/176#issuecomment-268117511.
Could you confirm that if it might

[2017-01-13 08:27] redbaron commented on #239
https://github.com/coreos/kube-aws/issues/27 is about implementing etcd management in a proper way, which may or may not include autoscale, but it got to be decided in the context of that discussion.

[2017-01-13 08:44] redbaron commented on #244
@helinwang if you use existing VPC,  you can create ELB yourself and then use it's domain name as `externalDnsName`. You'd then need to modify `stack-template.json` and set value of `LoadBalancerNames`  under `AutoScaleController` resource:

[code]

You'll also need to create your apiserver certificate which lists that domain.

@mumoshu , In *theory* kube-aws could have mini CF `stack-bootstrap.js

[2017-01-13 08:48] redbaron commented on #241
@mumoshu , @caseydavenport pointed me to a nice descriptive doc regarding calico + flannel: https://github.com/projectcalico/canal/blob/49fe5a519d4d2b1e02a38e9f8667416367f8c702/README.md which lists AWS VPC backend as "not recommended".

[2017-01-13 09:19] lucab commented on #224
@mumoshu `/proc/1/mountinfo` will show which mounts are being propagated and where. I think the root issue here is not caused by `taint-and-uncordon`, but by one of the fly pod.

@whereisaaron a fix is already shipped in rkt 1.22.0, released last week.

[2017-01-13 09:24] redbaron commented on #238
yes, it solves that and also eliminates need to keep params like  "sshAuthorizedKeys" in sync between all `cluster.yaml` files manually.

[2017-01-13 14:36] redbaron opened #246 "Panic on `kube-aws update` if fetching existing stack was problematic"
I ran `kube-aws update`  while network/aws service was unstable, it made it fail:

[code]

Looking at the code:

[code]

apparently  there can possibly be a case where `err == nil` and `res.TemplateBody == nil`

[2017-01-13 15:15] pieterlange commented on #239
The primary intent of #27 is indeed for discovery and recovery, but i think you'd get "autoscaling" for free. I don't know why you'd want such a critical part of the system to be autoscaling - in my experience the only reason for having multiple etcd nodes is for concistency, not at all performance. (it could be argued that adding more nodes makes things slower)

Sorry for the lack of progress on

[2017-01-13 18:44] tnguyen14 commented on #236
Does `kube-aws render credentials` create SSL certificates by default?

[2017-01-13 18:50] redbaron commented on #236
you need to pass either `--generate-ca` or point it to CA cert and key

[2017-01-13 20:13] iameli opened #247 "kube-dns not being created in v0.9.3-rc.4"
Hi,

Just brought up a new cluster and there doesn't seem to be a DNS deployment.

[code]

It looks like a few things are erroring out in `install-kube-system.service`, probably this is the cause? [This is the full output of journalctl -u install-kube-system](https://gist.github.com/iameli/9ea8b6413e349eb6ed04a12f01ac2b2d), but the relevant bit appears to be...

[code]

Looks like that path is get

[2017-01-13 20:44] redbaron commented on #247
I am really sorry for that, experienced that myself, here is a fix https://github.com/coreos/kube-aws/pull/245

[2017-01-13 21:06] iameli commented on #247
Nice! No worries, will close this when that gets merged

[2017-01-13 21:13] iameli commented on #244
There are plenty of free subdomain services out there too -- [here's one](http://www.homenet.org/). That'd work just fine for the external DNS requirement.

[2017-01-13 22:04] whereisaaron commented on #230
Here's an example a typical users OOB experience with RBAC, a lot of wasted time due no OOB/bootstrap permissions: kubernetes/kubernetes/issues/38997

What unites you, me, and this person, is that even after getting RBAC working, we still don't know what permissions are actually minimally required by the cluster. 😕

[2017-01-13 22:43] whereisaaron opened #249 "Running 'kube-aws destroy' in the wrong folder could destroy the wrong cluster"
Nope, I haven't done that 😄 . But I worry about doing it a lot...

**Feature request 1:** `kube-aws destroy` should display the `clusterName` and prompt for the user to type the name of the cluster to confirm the deletion. People who need to script a `destroy` can 'echo "cluster-name" | kube-aws destroy".

I don't think a similar check is necessarily needed for `kube-aws node-pool destroy` as it a

[2017-01-13 22:54] whereisaaron commented on #247
Grump grump @redbaron just when I thought I could launch my clusters without patch files!!! 😛

Hit the same problem, and #245 worked to fix it.

[2017-01-14 04:02] whereisaaron commented on #230
@ankon our new best friend @uruddarraju has done a lot of the work towards the RBAC policies we need for `kubw-aws`: https://github.com/uruddarraju/kubernetes-rbac-policies

[2017-01-14 12:45] mumoshu commented on #249
Sounds good overall 👍
Nit but for the former, I'd rather like to add `-f` flag to skip the confirmation for automation purpose.

[2017-01-14 13:13] mumoshu commented on #247
@iameli @redbaron @whereisaaron Thanks to all for your support!
I've just released v0.9.3-rc.5 with the fix included.

[2017-01-14 13:13] #247 closed

[2017-01-14 13:17] mumoshu commented on #197
Closing this for inactivity but feel free to reopen if necessary!
Anyways I'd be responsive regardless of this issue being open/closed.

[2017-01-14 13:17] #197 closed

[2017-01-14 13:23] mumoshu commented on #215
Thanks as always @whereisaaron!
AFAIK yes; apiserver and controller-manager don't depend on those cluster addons.
Anyways I'm closing this as the original issue has already been resolved but feel free to reopen if necessary.

[2017-01-14 13:23] #215 closed

[2017-01-14 13:26] mumoshu commented on #148
https://github.com/kubernetes/contrib/pull/2226 is in progress to allow cluster-autoscaler to be automatically updated according to the state of a kube-aws cluster.

[2017-01-15 04:26] c-knowles commented on #118
@mumoshu I restarted this one but I need some help to get the e2e tests running properly.

How can I run a specific test or just the k8s conformance tests? (time saver while I develop). Seems to be `DOCKER_REPO=quay.io/mumoshu/ SSH_PRIVATE_KEY=path/to/private/key ./e2e run conformance`? Should I update DOCKER_REPO to my own? It's not clear to me what that part is actually doing. First time around

[2017-01-15 05:25] c-knowles commented on #238
@mumoshu I think the above means the top two remaining points from https://github.com/coreos/kube-aws/issues/44#issuecomment-265065208 will be dealt with here. Do you agree?

[2017-01-15 05:34] c-knowles commented on #240
Short term we could taint an existing node for now? Longer term I think we should wait for https://github.com/coreos/bugs/issues/1274.

Side note, as a user of kube-aws I had switched a dev cluster over to the `etcd-lock` strategy to try it out. We should add something to the documentation if it's not advised to use it right now.

[2017-01-15 07:26] c-knowles commented on #96
@redbaron, I agree we'd have to be careful about that sort of thing as that's one of the drawbacks of YAML. My view is we aim to make it easier to use for the end user even if a contributor's job is slightly trickier. Ultimately we could probably support both without much additional effort. The advantages of better readability, reference anchors and comment embedding might outweigh whitespace issu

[2017-01-15 08:33] billyteves commented on #239
My idea here is to have an auto-scaling group setup, wherein when one etcd instance failed/terminated/gone, another instance will pop up and then join to the etcd cluster. Yup Im also on the consistency actually rather performance. As long as the users will not worry the sudden collapse of an etcd instance, I think there will be a reassurance that the cluster can recover, automatically.

[2017-01-15 11:20] redbaron commented on #96
@c-knowles , I was commenting as an end user :) We change what `kube-aws` renders before running `up`. Switch to YAML I expect to introduce more errors in the process :(

As for advantages, I don't see how reference anchors can be useful in CF template, and  we already have comments thanks to go template.

[2017-01-15 16:52] AlmogBaku commented on #9
Regarding heapster/elasticsearch:
Currently, in order to use heapster+elasticsearch you can use the Managed ES by AWS; however, the managed ES doesn't support scripted fields which are very useful(and almost required) for understanding the metrics and settings alarms.

[2017-01-16 02:38] mumoshu commented on #189
Hi @rbellamy @cmcconnell1, thanks for your efforts on this!
Sorry for leaving this silent for a long time.
Several things:

Could you confirm that this exact use-case would be supported without the workaround once:

1. We provide the way to customize the domain name kube-aws assumes for EC2 instances in an existing VPC via e.g. `internalDomainName: terradatum.com` and
2. We ensure "correct" hostna

[2017-01-16 02:47] mumoshu commented on #239
Ah, then we can close this in favor of #27, right?
I had originally thought of something like "Autoscale/Automatically **scale-out** etcd cluster by automatically **scaling up** all the etcd nodes one by one without downtime to improve both write/read qps a etcd cluster can serve" for "autoscaling of etcd", which didn't seem to be something covered by #27.

[2017-01-16 03:36] mumoshu commented on #244
@redbaron

Ah, it could be possible!
If we care that way, I'm not opposed to add a doc to do that around kube-aws with minimum addition to kube-aws itself(maybe accepting the name of existing ELB instead of `externalDnsName` in cluster.yaml?)`.

[2017-01-16 03:42] mumoshu commented on #240
@redbaron I wasn't aware of a concrete solution to the problem but your idea sounds great 👍

Let me also add that we'll need to make enough space in the cluster for pods evicted from the drained node to be run, probably having at least one extra node for that or enable `cluster-autoscaler` to automatically add a node for those pods.

[2017-01-16 03:43] mumoshu commented on #240
@c-knowles Thanks for looking into this!

For what part of the process you intended to use taints?

I wasn't aware of it until now but am really looking forward for `klocksmithd`!

[2017-01-16 03:47] c-knowles commented on #240
@mumoshu for the taint I meant for the first point of @redbaron's proposal. Perhaps node draining and waiting is enough though?

[2017-01-16 03:48] mumoshu commented on #219
@Thermi Would you mind confirming if any of what @redbaron and I provided (will) resolve your issue?
// I'd generally recommend NAT gateways with elastic IPs for your use-case for better availability

[2017-01-16 03:50] mumoshu commented on #193
Thanks. I'll leave this open for pull request(s) 👍

[2017-01-16 03:53] mumoshu commented on #214
Closing this as #220 is merged and v0.9.3-rc.5 is released with the fix but feel flee to reopen if the issue still persists.

[2017-01-16 03:56] mumoshu commented on #244
Hi @helinwang, does any of the solutions solve your issue? 😃

[2017-01-16 04:03] mumoshu commented on #238
@redbaron

I'm still wanting to leave the `nodepool` subcommand not for creating/updating underlying cfn stacks but at least for adding new node pools definitions (which will then be "reflected" via cfn by running `kube-aws up` as you've suggested).
Would it be possible?

[2017-01-16 04:11] mumoshu commented on #238
@c-knowles Those are **not** requirements which must be addressed before a future PR from @redbaron is merged anyways.

Those are definitely what I'd appreciate if he could include in a PR but I'd recommend not to do so at least in the initial PR to make each PR reviewable hence able to be merged quickly!

Those can be even addressed elsewhere today because kube-aws can anyway read `cluster.yaml`

[2017-01-16 04:21] mumoshu commented on #240
@c-knowles Ah, I guessed that `kubectl cordon` would be enough for that!

[2017-01-16 04:41] mumoshu commented on #134
@redbaron Ah! sorry for the typo in the ref. I meant `.Docker.Opts`.

Let me also clarify that `Experimental` is for a feature which can be turned off almost completely when not used; I'm assuming that `Docker.Opts` is not the one because `DOCKER_OPTS`(=custom docker opts other than defaults) will be dynamically set regardless of we set `docker.opts` or not in `cluster.yaml` after the change.

[2017-01-16 04:48] c-knowles commented on #240
@mumoshu, yep makes sense

[2017-01-16 08:29] redbaron commented on #238
All that command will do is modify `nodePools` map in YAML file in-place. Editing yaml files keeping all the formatting and existing comments is not a most pleasant experience for a very little benefits added. With detailed enough commented example in `cluster.yaml`  it would be trivial to create/update/delete nodepool.

[2017-01-16 11:37] redbaron opened #251 "kube-aws should use CF changesets when updating a stack"
For ease of troubleshooting , instead of updating stack directly, kube-aws should create changeset and apply it. This way every change is explicitly logged and easy to audit/inspect.

[2017-01-16 11:58] redbaron opened #252 "Userdata limit of 16KB is almost reached"
LaunchController userdata size is almost 16KB and starts to fail if few modifications added. We need to find another way topass userdata, such as s3 bucket.

[2017-01-16 12:11] danielfm commented on #252
I just bumped into this when trying to move my customizations from earlier versions of kube-aws to the new ones. The error message when that happens is not pretty as well:

[code]

Calico seems to the "heaviest" extension in that regard, so I had to disable it in order to put my own customizations there.

[2017-01-16 12:33] redbaron commented on #252
I am preparing PR where user-data files are uploaded to same bucket where CF template is uploaded. Then userdata for hosts will be something like:

[code]

[2017-01-16 15:50] ankon opened #253 "Add a (optional) feature to enable kube2iam"
(Issue itself is work-in-progress, updating it with the parts I found are needed)

In the kube-aws context it seems reasonable to assume that users have IAM enabled, and have some knowledge about it - and that they want it on pod-level, not on worker-level granularity. It would be awesome if kube-aws would provide some OOBE for setting that up using https://github.com/jtblin/kube2iam.

1. Add an "

[2017-01-16 16:01] c-knowles commented on #253
There's a helm chart for kube2iam, perhaps supporting helm could be a good idea.

[2017-01-16 16:35] ankon commented on #253
Sounds reasonable. Especially since I now found that there is a bug in kube2iam:latest in combination with calico: https://github.com/jtblin/kube2iam/issues/37. The fix proposed there comes via a helm chart, too.

Other than using :0.2.2 everything seems to work though in my setup, so that's promising.

[2017-01-16 18:26] helinwang commented on #244
Thanks everyone for the input! I ended up using the modify `/etc/hosts` solution. @mumoshu yes it's resolved! Thanks!

[2017-01-16 22:00] whereisaaron commented on #252
@redbaron are these S3 buckets intended to be all kube-aws launches, or per cluster, or per node-pool?

E.g. I notice the `kube-aws up` and `kube-aws node-pools up` seem to use the same file name for the `stack.json` file. I wondered if that means if you launch two node-pools at once you could inadvertently cross-pollinate the stack.json unless you use different buckets?

Likewise your example her

[2017-01-16 22:09] whereisaaron opened #254 "Continual heapster crash loop at cluster launch (0.9.3-rc.5)"
I just launched a cluster with 0.9.3-rc.5 all seemed good except heapster was restarting repeatedly. This was caused by health check failures with `dial tcp 10.2.89.3:8082: getsockopt: no route to host`.

I deleted the crash-looping Pod and the replacement launched and has been perfectly fine and healthy with no restarts.

[code]

I am not sure if I should be concerned about that or not. Seems lik

[2017-01-16 23:05] mumoshu commented on #189
@rbellamy @cmcconnell1 I and @redbaron discussed about situations related to your cases in https://github.com/coreos/kube-aws/pull/226#issuecomment-272630759. Would you mind taking a look into it?

To be short, I believe "providing resolvable hostnames to etcd nodes according to your req and use these hostnames for etcd peer discovery and peer communication" is the core of the fix.

Are you sure t

[2017-01-16 23:56] billyteves commented on #239
I actually haven't check yet the #27 , if it is also included in #27 , I think we can close this. With your idea above @mumoshu , I think it would be great to have that kind of feature also in the future! Right now, the etcd part of high-availability setup is probably the weakest point for me, since there is still a possibility that instance may go down for sometime and there is no auto-scaling co

[2017-01-17 00:23] mumoshu commented on #252
// I'm still scratching my head about it.

Hi @crawford, we'll probably migrate from coreos-cloudinit to ignition sooner or later and would you mind telling me if ignition could be enhanced to support:

1. reading files from a secured(!=not accessible from anonymous users) s3 bucket probably using `contents.source` or
2. reading additional configs from a secured s3 bucket probably using `config.ap

[2017-01-17 00:29] mumoshu commented on #134
And basically we'd been preferring to code defaults into go core rather than hard-coding those in `cloud-config` templates.

[2017-01-17 00:52] mumoshu commented on #134
Today, I'm saying no to my original answer in https://github.com/coreos/kube-aws/issues/134#issuecomment-271565227

I generally **recommend to use the log rotation feature integrated into docker for rotating docker container logs** not to lose your log messages emitted while rotations. I don't recommend logrotate for the purpose anymore.

AFAIK, fluentd for example supports the `rotate_wait` optio

[2017-01-17 01:03] mumoshu commented on #134
Hi @repeatedly, how are you? 😄
Sorry for suddenly bothering you but would mind confirming if I'm having correct assumptions regarding fluentd's `rotate_wait` option?

I believe that a log-rotation must be done like described in the following, to allow fluentd to not drop log messages emitted while a rotation i.e. between an old log file is renamed and a new log file is created?

[2017-01-17 02:03] redbaron commented on #134
Don't know the current state,but not so long ago rotate_wait in  fluentd was fundamentally broken: https://github.com/fluent/fluentd/issues/544

if your service manage to rotate logs more than once in rotate_wait period, fluentd looses mind , starts to create duplicates, consumes CPU and be source of problems by itself.

[2017-01-17 02:59] iam404 opened #257 "latest v0.9.3-rc.5 version is failing"
[code]

[2017-01-17 03:13] mumoshu commented on #257
Hi @iam404, thanks for trying kube-aws!
As it is working for me without problem(s), it might be related to one of more customization(s) you've made to `cluster.yaml`, `stack-template.json`, `userdata/cloud-config-*`, etc.
Would you mind sharing us more context to further investigate your issue?

[2017-01-17 03:15] mumoshu commented on #254
Hi @whereisaaron!
Two questions for now:

* Does your issue still reproduce after recreating your cluster?
* Are you using calico?

[2017-01-17 03:22] mumoshu opened #258 "Emit a warning message when `t2.nano` or `t2.micro` is set for `*instanceType`"
Regardless of the fact that `t2.medium` being the minimum default instance type in kube-aws these days, I believe some people are still trying to use `t2.micro` for nodes by modifying `cluster.yaml` and resulting their clusters to not functional.

I've recently received a question in the k8s slack about why `kube-aws up` didn't create a working cluster and one of the causes was `t2.micro`.
I'm goi

[2017-01-17 03:39] mumoshu commented on #257
Also, have you successfully launch your cluster with kube-aws older than v0.9.3-rc.5?

[2017-01-17 04:20] whereisaaron commented on #254
Not using Calico. Also I didn't recreate the cluster, I just `kubectl delete pod` the heapster Pod and let the RC create a new Pod. That fixed the problem and it hasn't come back.

I've launched this same cluster config a dozen times and not seen this. It was a 'bad luck' problem I think. I only post it here to collect other reports or info, since I assume it should probably never happen like this

[2017-01-17 05:18] c-knowles commented on #253
@mumoshu's overview of the goals for kube-aws in this respect are at https://github.com/coreos/kube-aws/issues/118#issuecomment-267600328. So the result is I think we could allow optional installation of helm in kube-aws.

@ankon Are there any cluster customisations needed for kube2iam to function?

[2017-01-17 06:16] ankon commented on #253
The item 2 from my list: the worker role needs to allow sts:AssumeRole.

Maybe we can take helm support into another issue and link these? I'm not sure how much work that would be, and in the worst case we have this ticket for people googling how to get kube2iam running directly.

[2017-01-17 08:45] mumoshu opened #259 "Wait until apiserver becomes ready to serve API before `kube-aws up` finishes"
kube-aws as of today prints the message `You should be able to access the Kubernetes API once the containers finish downloading.` after `kube-aws up` completes.
This message expresses that an user must hold on for a few minutes until the apiserver becomes ready to serve API i.e. `kubectl` succeeds.

I've recently received a question in the k8s slack about why `kube-aws up` didn't create a working

[2017-01-17 10:42] redbaron commented on #259
`waitSignal` is the way to go. Conditions of firing need to be refined probably, such as check that apiserver is running.

As for the cluster readiness, what to do if no workers are set (nodepool only approach)? then there is no kube-dns running and cluster is non functional

[2017-01-17 12:08] ankon commented on #259
Wait signals work nicely already, I was surprised to see them marked as experimental (and then couldn't find any documentation about any gotchas, plus the code looked sane -- so I enabled them.)

Indeed it would be nice to have the cluster be ready-to-use when the command returns.

[2017-01-17 12:36] c-knowles commented on #253
Might be possible to just add that assuming it also needs to be granted on the target role. Yes, I think a good idea to have a helm feature issue.

[2017-01-17 12:49] mariusmitrofan opened #260 "why does kube-aws not support custom AWS domain names ?"
I've been battling with these for over 48 hours.

The certificates that you create for `etcd2` to use automatically assume that my hostname belong to either `<region-name>.compute.internal` or `ec2.internal`, but if it doesn't ?

What do I do then?

[2017-01-17 13:03] camilb commented on #260
Hi Marius, a quick method is  to edit these lines and compile your own version of kube-aws.

        ./config/config.go:546
        ./config/tls_config.go:135
        ./config/tls_config.go:151

[2017-01-17 13:03] redbaron commented on #260
generate your worn certs for the time being

[2017-01-17 13:27] mariusmitrofan commented on #260
Thank you both.

Does running this make sense ->
[code]

The output of that would be this ->
[code]

[2017-01-17 15:40] mariusmitrofan commented on #260
Later update for whoever follows this thread:

- `redbaron`'s solution is not valid because the hostnames for the container configuration is generated using the same logic, which makes it wrong
- `camilb`'s solution is the `one that actually works` because it fixes both the cert problem and the hostname rednering for the config files

Going further, I agree that if you follow the code's readme to

[2017-01-17 15:48] redbaron commented on #260
sorry, I wasn't clear enough, my solution was to add your domain names to existing ones kube-aws already adds to certs, you can have more than one.

[2017-01-17 15:51] mariusmitrofan commented on #260
I'm refering to configurations such as the one `etcd2.service` has in `userdata` which writes this :

`Environment=ETCD_INITIAL_CLUSTER={{.EtcdInitialCluster}}`

After the cluster is created, this creates the incorrect environment variable, because the hostname is rendered inside the code with suffix appended by default, which defeats my business case.

Have a look here -> ./config/config.go:546

[2017-01-17 16:12] redbaron commented on #260
AFAIK even with custom domain name, `compute.internal` names are still resolving correctly, therefore instances are accessible

[2017-01-17 16:34] mariusmitrofan commented on #260
Not really no, because that domain does not exist. I'm talking about custom domain in dhcp options for an existing vpc, not the custom external dns name...

[2017-01-17 16:35] mariusmitrofan commented on #260
Aka this - http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/vpc-dns.html

[2017-01-17 17:00] crawford commented on #252
Hey @mumoshu, I'm good. How are you? :smiley:

I've been thinking about this a bit recently. I'm not sure just yet how I want to encode that information in the config and if it should even be there at all. In the mean time, you can use [S3 Signed URLs](http://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html) to allow a specific machine access to a particular resource for a set

[2017-01-17 17:55] Thermi commented on #219
@mumoshu We require each node to have its own special elastic IP, so we can't use @neoandroid's work. I think what we'll end up doing is using preallocated network interfaces. How does kubernetes and coreos behave when a network interface is attached when the node is already running? In our case, we'd have to switch over all connections to the new connection by adding corresponding routes into a s

[2017-01-18 00:19] mumoshu opened #261 "Fix node pools on master"
I believe the node pools feature is broken since merging #226.
Please consider not to use binaries built from master if you'd like to use node pools.
See https://github.com/coreos/kube-aws/pull/226#issuecomment-273343076 for more information.

[2017-01-18 06:16] iam404 commented on #257
@mumoshu Yes ! v0.9.1 is working fine.

[2017-01-18 06:18] iam404 commented on #257
@mumoshu Also we do not have any custom changes to any other files.
Only `cluster.yaml` and that is working with v0.9.1.

[2017-01-18 06:54] #261 closed

[2017-01-18 09:45] valichek opened #264 "Continuos errors in locksmithd logs on etcd nodes"
Running kubernetes 1.4.6 with 0.9.1

Following messages pollute journal every 10 seconds
[code]

[2017-01-18 09:51] redbaron commented on #218
With #226 merged it is all fine now

[2017-01-18 09:51] #218 closed

[2017-01-18 21:12] sasso opened #266 "Don't precalculate etcd static IP addresses"
@redbaron @mumoshu is there a way to do a zero downtime migration from previous state (before PR #226 was introduced)

[2017-01-18 22:48] redbaron commented on #266
it shouldn't affect existing setups as new resources are "blacklisted" during update phase. only change is to userdata on workers and controllers, but it is updated regularly so normal procedure applies

[2017-01-18 23:02] sasso commented on #266
![screenshot 2017-01-18 15 01 04](https://cloud.githubusercontent.com/assets/8398242/22086736/000158f6-dd8f-11e6-8c09-3929da6ae14a.png)

InstanceEtcd0eni... are unlinked so deployment will not work

[2017-01-19 00:14] redbaron commented on #266
Thats fine,because userdata use 'InstanceEtcd0.PrivateIpAddress' which exists in both old and new deployments

[2017-01-19 00:15] redbaron commented on #266
BTW, is  it unpublished patch you have or some manual work to create CF changesets?

[2017-01-19 00:21] helinwang opened #267 "workerCount in cluster.yaml does not work"
Hi,

The problem I encounter is that there are 3 worker instances started in ec2, but only one node shows up.
[code]

My steps:
[code]

[code]

[2017-01-19 00:26] sasso commented on #266
I dumped the CF generated with update

[2017-01-19 02:27] yawboateng opened #269 "ETCD not starting - Invalid escape sequences"
Hi All,

Im trying to start a k8s cluster using kube-aws, but i cant get etcd to start up. all I see in journalctl is:

`Invalid escape sequences in line, correcting: "/usr/bin/bash -c "sed -i \"s/^ETCDCTL_ENDPOINT.*$/ETCDCTL_ENDPOINT=https:\/\/$(hostname):2379/\" /etc/environment""`

kubernetes: v1.4.6
kube-aws: v0.9.3-rc.5

[code]

[2017-01-19 02:36] redbaron commented on #269
this error indicates that something wrong with etcd2 dependency, try running

`systemctl list-dependencies etcd2` and check them

[2017-01-19 02:48] numair opened #270 "Quota error when creating instances (0.9.3-rc.5)"
Hi, just been playing with kube-aws on a clean AWS account.  I've been able to create an instance in my region and availability zone via AWS console, so I know that I don't have some sort of quota limit across my account; when I try to create a cluster using kube-aws, however, I get the following error:

[code]

I'm using the master credentials from this AWS account, and aside from a test micro in

[2017-01-19 02:54] redbaron commented on #270
this looks like an account limit, you need to raise AWS account support request

[2017-01-19 03:19] numair commented on #270
@redbaron Weird... When I look at the quota limits for the account, there's the standard 20 instances. But I just tried to create an additional instance via the web console, and sure enough I encountered a quota error.  Since there's likely to be a lot of people experimenting with this project using a new AWS account (it sort of generates stuff all over the place), do you have any advice on best p

[2017-01-19 03:21] #270 closed

[2017-01-19 05:02] sasso opened #271 "My findings and suggestions"
After working on this project I would like to share some of my findings and give some suggestions on how we can improve it. This is my view and I would love to hear maintainers thoughts on this and get a better sense of what your roadmap is and where you see this project in 3 months.

**1. ETCD deployment and management should not be a part of this project.**
This is one of the biggest issues for

[2017-01-19 05:11] c-knowles commented on #270
@numair I've also been confused by a similar error before in one of two particular conditions - if billing details are not entered and if the account is not "verified" (means they SMS or automated-call you). In my case the account sign up process did not send me through this verification at all, not sure why! Maybe check [this page](https://aws.amazon.com/premiumsupport/knowledge-center/create-and

[2017-01-19 05:22] helinwang commented on #267
So I only can see the worker node on scheduler. And I logged into other nodes and check kubelet output, it shows:
[code]

[2017-01-19 05:36] helinwang commented on #267
The problem is I only set up mydomain.com redirect in `/etc/hosts`, but worker node uses mydomain.com as api endpoint as well. So Workers could not connect to master.

[2017-01-19 05:36] #267 closed

[2017-01-19 05:38] helinwang commented on #244
@mumoshu Just want to give feedback on the `/etc/hosts` solution, it does not work unless the `/etc/hosts` files are edited in the ec2 machines as well. Since they need domain to connect.
Did not have time to try other solutions yet.

[2017-01-19 06:38] numair commented on #270
@c-knowles This was the reply I got from Amazon support (I have a Developer support contract):

"I understand that you are not able to launch new instances under your account. This is because you just joined AWS today and has been only less than 24 hours. Generally, it takes 24 hours after creation of an account to get the EC2 limit increased to 20. Please try again after some time."

Basically: i

[2017-01-19 08:45] redbaron commented on #271
Here is my view:

1. don't agree, but **optionally** being able to point to existing etcd cluster and not to create it is a good feature to have.
2.you mean make kube-aws adopt existing setups? generally not possible, as existing resources cannot be "imported" into CF template. achieving this goal would mean ditching CF and move towards kops model. Use of CF is a huge win for **kube-aws**  for mul

[2017-01-19 09:38] valichek commented on #258
I think I would be enough to have some warning in `cluster.yaml`. And maybe some description of possible issues.

[2017-01-19 10:23] reiinakano opened #273 "Using EFS with kube-aws"
Hi, I've created a kube-aws cluster with this setting in cluster.yaml `elasticFileSystemId: fs-c590348c`

I am able to create a persistent volume through a Kubernetes config file (using type NFS and pointing to the DNS name of my EFS) and the corresponding persistent volume claim. However, I am unable to mount the PVC on my pod with this error:

Am I missing anything? As a side note, when I tried

[2017-01-19 12:24] c-knowles commented on #271
Thanks @sasso for the feedback! Collectively we can only improve kube-aws with good feedback like yours.

My opinion:
1. Agree but optional, I might like to use shared compose.io etcd for some environments to avoid extra management.
2. It would be hard to maintain with the existing CF as @redbaron mentions, would mean quite an architectural change. I think the end result could be that it's harder

[2017-01-19 16:00] sasso commented on #271
Thanks for fast responses!

We could have `kube-aws etcd up` and `kube-aws controller up` and `kube-aws worker up --name=storage` and keep the separation and also have nice support for node-pools

I may have given a bad example in 2. By doing separation in 1. you could generate independent CF with data taken from configs or state from AWS. By reading tags you could get ETCD IP's, Controller ELB an

[2017-01-19 16:17] redbaron commented on #271
what separate CF buys you? I'd much rather have one single CF which glues multiple others.

As for VPC, that is why your work on existing subnet feature is so much needed,but once done, it is done, righ? :)

[2017-01-19 16:39] sasso commented on #271
It buys us control on what gets deployed and when. What I learned over time using CF is that breaking it to smaller pieces introduces less problems. It also gives you a way to move faster as you are working/touching smaller part of the codebase.

Subnet feature is in the works but it could be better (https://github.com/checkr/kube-aws/commit/76db40639e340d9dbf7abbd0a3605be4e60b44e4 my take on auto

[2017-01-19 16:59] redbaron commented on #271
I don't by the speed argument,I'd expect that time it takes to run CF update depends on amount of changes going in,not on a total number of resources specified in a template. Make fewer changes to CF between updates and you get your agility

[2017-01-19 17:51] yawboateng commented on #269
Thanks, data drive was not mounting properly

[2017-01-19 17:51] #269 closed

[2017-01-20 00:00] ElijahCaine commented on #203
That doc ( coreos/docs#970 ) was just merged back in. Soon it'll get picked up and added to the website again.

[2017-01-20 00:11] mumoshu commented on #203
@ElijahCaine Thanks for the the PR and info 👍

[2017-01-20 01:44] mumoshu commented on #252
@crawford Fine but been busy these days 😄

Thanks 👍
It sounds like a good idea but would you mind clarifying a bit?

Is there any way to add a "hook" which starts before ignition, so that we can dynamically create signed urls and then pass those to ignition or even dynamically create an ignition config?

I'm personally thinking that creating signed urls before the cluster creation wouldn't be a so

[2017-01-20 13:11] gianrubio commented on #259
If nobody is working on this I can do!

[2017-01-20 18:02] crawford commented on #252
@mumoshu me too. Very very busy.

Glad you asked. This is actually how Ignition is intended to be used. We've been working on [`ct`](https://github.com/coreos/container-linux-config-transpiler), which is a tool for generating Ignition configs from a human-friendly version. It is extremely simple right now, but we have plans for providing a whole lot of sugar to make common operations very easy.

Y

[2017-01-21 03:17] c-knowles commented on #259
Is it worth considering a `--wait` flag to keep the current behaviour the default? Or do we always want to wait?

[2017-01-21 04:44] numair opened #276 "Can't destroy node pools in 0.9.3-rc.5"
Now that I can create the node pools in the example, this is what happens when I try to destroy them (as per https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws-destroy.html):

[code]

I'm doing this in the root of the folder containing all of the assets, as seen here:

[code]

Here's the relevant version info:

[code]

Let me know if I'm doing something wrong!

[2017-01-21 16:43] neoandroid commented on #276
Currently the command needs the option `--node-pool-name` to do something. So the right command would be:
`$ kube-aws node-pools destroy --node-pool-name foo`

If the command should support the destruction of all node pools created when there is none specified as the documentation suggest is something the source code does not do so we should fix the source code or the documentation.
IMHO I would s

[2017-01-22 03:15] numair commented on #276
@neoandroid Thanks, this was super-helpful.  Hope the maintainers get a chance to update the documentation so others don't get tripped up.

[2017-01-23 03:34] reiinakano commented on #203
Closing this issue as the link is no longer a 404

[2017-01-23 03:34] #203 closed

[2017-01-23 07:52] gianrubio commented on #259
I propose to create a config --skip-wait for the best experience with new users. By default we always wait until the resources are creating. Advanced users can easily skip with this option.

[2017-01-23 13:25] PepijnK opened #277 "Feature: Add config properties for private-network mode (e.g. in case of bastion or VPN setup)."
Hi,

We run Kubernetes inside private subnets. The cluster YAML is configured with `mapPublicIPs: false` to completely seal off the cluster from external access (== more secure). Outbound Internet access is done through a NAT, like documented. Admin (SSH mainly) is done with help of a VPN server sitting in the same VPC as the Kubernetes subnets.

To allow a service under development which is runni

[2017-01-23 21:41] cmcconnell1 commented on #189
Hello @mumoshu and @redbaron
Thanks for following-up on this!

Regarding the above link:
We do something very similar with all of our AWS nodes during their bootstrap process, wherein these instances receive customized route53 systemd processes/scripts.

These scripts fetch the EC2 instances tagged Name upon ```systemctl start route53``` of the systemd service.

In our scripts, all of our deployed

[2017-01-24 10:39] valichek opened #279 "Is there any suggested way to stop-start/upgrade cluster without losing etcd data?"
As for now kubernetes and etcd instances are managed with the same CF and destroying cluster results to destroying etcd machines with data. I know there is feature to make etcd cluster external in progress. But is it possible to save etcd data when using `0.9.1` release

[2017-01-24 11:03] gianrubio commented on #279
@valichek try to set the ```controllerCount``` and ```workerCount```to 0

[2017-01-24 11:30] valichek commented on #279
@gianrubio it doesn't work (there is some note about it in the docs - https://github.com/coreos/kube-aws/blob/master/Documentation/kubernetes-on-aws-node-pool.md), but actually this is not what I would like to achieve, one of possible scenarios could be suspending all kube ec2 instances, but i'm not able to just stop them in aws console because controllers and workers are being terminated and re-c

[2017-01-24 11:57] mumoshu commented on #252
@crawford Thanks for your reply!

ct definitely seems to be useful! In the future, kube-aws will probably generate a ct `config/golang text template` for customization of node bootstrap process, instead of the current one; `cloud-config/golang text template`.

Thanks but how could you do that in an autoscaling environment?
Purging the remote ignition config in the first node would result in other

[2017-01-24 12:06] gianrubio commented on #279
@valichek you're right. Could you try to scale the asg group for workers and controllers to 0 rather than terminate the instance on ec2 dashboard?

[2017-01-24 15:01] valichek commented on #279
@gianrubio yes, editing Auto Scaling Groups to have `Desired: 0, Min: 0, Max:0` did the job.

[2017-01-24 21:38] whereisaaron commented on #230
If you don't have RBAC or similar, then every container gets 'root' access to the entire cluster by default. When you enable RBAC with `kube-aws` nothing works. You can contact the controller, but worker nodes are blocks from even registering.

These are the bootstrap permissions I use to enable a k8s 1.5.x cluster to start working when you have RBAC enabled. Once you add these permission the work

[2017-01-25 11:41] spacepluk opened #281 "Allow to choose between ELB and Route53 round robin for the APIServer"
Hi,
I think this would be a nice option to allow deployments of really tiny (and cheap) clusters.

[2017-01-25 18:18] pyralis commented on #257
I'm having a similar problem. When I run `systemctl status flanneld.service`    it appears to fail on

`ExecStartPre=/usr/bin/rkt rm --uuid-file=/var/lib/coreos/flannel-wrapper.uuid` (sorry I don't have the full output right now)

 When I ran with all the defaults for cluster.yaml I did not encounter this error. I'm likely to run again in a moment. If I run into the same issue I will provide more

[2017-01-25 18:59] pyralis commented on #257
console on login

`Update Strategy: No Reboots
Failed Units: 2
  docker.service
  flannel-docker-opts.service`

 after `systemctl status docker.service`

[code]

then `systemctl status flanneld.service`

[code]

When the cluster is configured it is placed into a new subnet that is does not route out to the internet. I'm just now seeing the config routeTableID in cluster.yaml  I'm going to try and

[2017-01-25 21:25] martindanko commented on #273
Hi @reiinakano - To diagnose, ssh into a machine and try mounting the volume according to the AWS instructions.

If you're unable to, it's sounds as though it may possibly be a security group issue, make sure the security group your minions (nodes) are in are associated with the EFS in the security group section in the EFS Console.

[2017-01-25 22:55] drywheat opened #283 "How exactly does "rollingUpdateMinInstancesInService" work"
This tool allows us to configure autoscaling groups for both controller and worker nodes inside **cluster.yaml**, indicating a `minSize`, `maxSize` and `rollingUpdateMinInstancesInService`. The first two keys are straightforward, but the latter is less obvious to me since it refers to *behavior during state transition*.

Here are a couple examples of how I'm thinking this might work:

#### Sample

[2017-01-26 02:29] reiinakano commented on #273
Hi @martindanko thanks for the reply.

Actually, I figured it out when I read the comment on cluster.yaml that said it used nodePath to mount the EFS. I was just wondering why this works and mounting it as a Persistentvolume does not.

Anyway, another thing Im trying to figure out is why is there a password when I try to access my EC2 instances using my key pair. Never read anything in the docs ab

[2017-01-26 02:29] #273 closed

[2017-01-26 03:32] c-knowles commented on #283
Hi @drywheat, thanks for the question.

`rollingUpdateMinInstancesInService` directly corresponds to `MinInstancesInService` inside the [AWS AutoScalingRollingUpdate Policy](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatepolicy.html#cfn-attributes-updatepolicy-rollingupdate)

There's more info in the AWS docs linked above but in summary:
* For stack creation, the

[2017-01-26 03:43] whereisaaron commented on #277
Hi @PepijnK if you create an SG when you set up your VPC, e.g. to allow inward from VPC CIDR, you can automatically attach that SG to workers in the `cluster.yaml` using `workerSecurityGroupIds`. That is what I use to achieve what you describe.

[code]

For the second issue, I agree it would be nice to choose whether the API is public, separate from whether the worker nodes are public.

[2017-01-26 06:43] martindanko commented on #273
The later problem is probably due to two things, either you're using the incorrect username. CoreOS uses the username "core" e.g. core@123.123.123.123 or you've not loaded your key properly in ssh.

Test using **ssh-add -l** that a lowercase L for list I believe.

[2017-01-26 08:13] tarvip commented on #281
I would like to use 0.8.3 approach for small clusters where master node HA is not important. Instead of creating autoscaling group and ELB for 1 node, just use ElasticIP for external access and host internal ip for worker nodes.

[2017-01-26 10:38] RaphaelHerd opened #285 "DNS names in TLS certificate"
Hey guys,

is it possible to make the DNS names of the self signed certificates more dynamic. Right now you're creating the certificates based on

DNSNames: []string{
                        "kubernetes",
                        "kubernetes.default",
                        "kubernetes.default.svc",
                        "kubernetes.default.svc.cluster.local",
                        c.ExternalD

[2017-01-26 11:45] redbaron commented on #281
Whats the point? ELB approach is generic enough to cover both small and HA setups

[2017-01-26 12:09] redbaron commented on #277
I wonder when kube-aws turned into AWS management tool? IMHO it should focus on a kube and not on a cloud infrastructure.  Almost non of the latest PRs are about kube and about cloud management which people try to get for free from a tool which just happen to deal a bit with subnets and security groups.

IMHO kube-aws should support just 2 modes:

1. basic "demo-only" mode where subnets, routing t

[2017-01-26 12:09] tarvip commented on #281
I guess the biggest difference is that you have to pay a bit more.
ElasticIP is free if it is attached to a host, ELB is not.

Another problem is when you don't want to open API server to the world (basically restrict access in security group to specific IPs). Then you have to create additional internal ELB for worker nodes and attach it to controller autoscaling group otherwise worker nodes canno

[2017-01-26 12:54] redbaron commented on #281
use internal ELB,or if you use external ELB add workers SG to ELB SG rules

[2017-01-26 12:54] PepijnK commented on #277
@redbaron I don't agree with that in many ways:

1. Kube-aws is a bridging tool for deploying K8s on AWS, so off course it should have parameters that makes it possible to customize your cluster.
2. You should regard the YAML file also as infrastructure in code. Is it the source of truth? Or the rendered CF-stack? I guess the YAML file... This means some obvious post-install tweaking in K8s manage

[2017-01-26 13:12] tarvip commented on #281
I already tried that. It doesn't work.

[2017-01-26 13:24] redbaron commented on #277
OK, lets discuss that.

indeed kube-aws is deploying k8s on AWS, but it is not a AWS cloud management tool. It is unfortunately quicky becoming one, but from my POV this is a wrong course of development.  kube-aws should deliver quality kube setup: good RBAC defaults, common base layer bits like log collection support, prometheus monitoring, flexible overlay network backends, network and etcd mult

[2017-01-26 13:38] redbaron commented on #285
generate your own certs

[2017-01-26 14:24] PepijnK commented on #277
IMHO you are a but too strict about the scope. In fact, if no customization
is allowed kube-aws would be a bit useless for me. It renders a private
ELB, which I can't make public afterwards. So I need to hack into the CF
template. Following your argumentation why bother about a tool after all?
Simply commit some demo CF templates to GitHub could prove that k8s runs on
AWS as well.

And why not cou

[2017-01-26 14:53] pieterlange commented on #277
This is a difficult subject. The aim is to provide a user-customizable framework to deploy _production ready_ platform, without overwhelming new users with thousands of knobs to fiddle with. Maintenance/flexibility suffers from having too many config options too.

That's exactly why the steps "generate template" and "deploy cluster" are separate - to allow you to do this.

Agreed here as well.

Th

[2017-01-26 14:54] reiinakano commented on #273
Wow, okay I feel really dumb. I was using the default "ec2-user" username from Amazon Linux instances. Thanks so much @martindanko !!

[2017-01-26 14:55] pieterlange commented on #285
I agree that any customization on this front is up to the user - you can generate your own PKI certs using tools like easy-rsa, xca or plain old openssl for your specific needs.

[2017-01-26 15:56] PepijnK commented on #277
OK, clear. Not want to put down the maintainer. The tool is doing a great job, that is why I like to use it. Good work has been done here. I need to consider the YAML file isn't supposed to be the single source of truth and is disposable. The rendered CF template is leading. I just hate to commit generated code...

[2017-01-26 15:56] #277 closed

[2017-01-26 17:58] martindanko commented on #273
You're welcome. Glad to have helped.

[2017-01-26 22:17] rbellamy commented on #189
@mumoshu - sorry for taking so long to get back to you.

Yes, your assumptions are correct.

Regarding your further comments, we have a custom script which can be used to dynamically register the hostname in the Route53 hosted zone.

HOWEVER, the challenge here is that when dealing with the workers and controllers is a logistic challenge to deal with dynamic naming. In other words, there's signifi

[2017-01-26 22:22] rbellamy commented on #189
@mumoshu regarding https://github.com/coreos/kube-aws/pull/226#issuecomment-272630759, yes I agree that's the core fix for dealing with this issue. @cmcconnell1 I know you have recently forked and built this repo and I'm wondering if you've had a chance to test this?

[2017-01-27 01:53] mumoshu commented on #266
@sasso Thanks as always for your interest on kube-aws!

Sorry for the long silence but answering your original question; no, there's no way to achieve zero-downtime migration from the previous state for now. The support for zero-downtime migrations for not all but at least significant paths is definitely a feature which we want to support in the future but is not very focused as of today. The main

[2017-01-27 02:05] mumoshu commented on #266
@sasso FYI, I tend to completely replace a kube-aws cluster in our prod env when I need the latest enhancements from kube-aws.

It would sound a bit hard to do in practice. However, to ease replacements, I'm using [helm](https://github.com/kubernetes/helm) to make our deployments very repeatable.

The procedure contains steps like:

* Create new a new kube-aws cluster and
* Add all the worker node

[2017-01-27 02:15] mumoshu commented on #271
Hi @sasso, thanks as always for your valuable feedbacks!

Would you let me ask about your auto-populated-subnet-IDs feature?
If I understand correctly, it is intended to make node pools inherit subnets from a main cluster?
If so, I'm considering to implement it on top of #284 so that in a main cluster's `cluster.yaml`:

// BTW, this is still an experimental feature and is subject to change accordi

[2017-01-27 03:22] mumoshu commented on #271
@sasso @c-knowles @redbaron

Agreed. Then, can I just move all the experimental keys into the top-level of `cluster.yaml`?
If I recall correctly, they began to live under the `experimental` key to be explicit about they're experimental hence can change in backward incompatible ways at any time.
Are you guys ok to e.g. just add all the former experimental features comments describing their states l

[2017-01-27 03:26] mumoshu commented on #271
OR can I just say that everything is experimental and is subject to change until kube-aws reaches v1.0 some day? 😄
We'd been putting not little efforts to keep backward-compatibility where possible but on other hand that's true we are not "promised" it yet, anyways.

[2017-01-27 03:28] mumoshu commented on #252
Closing this as the original issue is resolved thanks to @redbaron.

@crawford Sorry for bothering you but I'm still interested on how we can avoid this issue after we've migrated to ignition and ct!

[2017-01-27 03:28] #252 closed

[2017-01-27 04:01] yawboateng opened #286 "Controller nodes kubelet register-schedulable"
kubectl status shows my controller nodes are ready, even though the kubelet have  register-schedulable option set to false. Older versions of k8s used show ready, unschedulable on the controller nodes but now its just ready, is this normal with v1.5.2?
[code]

kubernetes version:
[code]

[2017-01-27 04:05] mumoshu commented on #286
Hi @yawboateng, thanks for your interest on kube-aws!
To be short, it is initially set to unschedulable in order to avoid race-condition and eventually tainted and then set to schedulable via the `kube-node-taint-and-uncordon.service`.
Would you mind taking a look into #147 for the context behind the fact you've observed?

[2017-01-27 04:08] mumoshu commented on #258
Thanks for the comment @valichek!
AFAIK, using `t2.micro` almost consistently result in non-functional nodes.
So it isn't an "possible" issue but almost a persistent issue.
Just curious but are you still wanting to try `t2.micro`?

[2017-01-27 04:12] mumoshu opened #287 "Dropping deprecated `hostedZone`(not `hostedZoneId`) in cluster.yaml"
As the subject says.
Although there's no fixed number of releases until a deprecated feature/configuration key is dropped yet, I guess no one is using the deprecated key now and the deprecation was represented in a comment in the `cluster.yaml` for enough period.

[2017-01-27 04:43] yawboateng commented on #286
Ah ok got it, they are tainted and reserved as mater nodes: so even though they are in a ready state, the "node.alpha.kubernetes.io/role:master:NoSchedule" annotation makes them unschedulable by default.

[2017-01-27 04:43] #286 closed

[2017-01-27 05:40] valichek commented on #258
@mumoshu I'm running minimal cluster using `t2.micro` for controller/etcd nodes and `t2.nano` for workers and it's cheaper. I don't have any issues on startup (`0.9.1`). We use it as test/learning dev environment and don't run heavy jobs, so we still don't have such issues. And of course, we do understand that we cannot use it for serious tasks.

[2017-01-27 06:17] mumoshu commented on #238
@redbaron Agreed. I'm going to drop `kube-aws node-pools init` then.

[2017-01-27 06:17] mumoshu commented on #238
@redbaron Btw, do you have any plan to publish the tool you're developing as an OSS? 😃
If not, could I request it so that we can collaborate more closely?

[2017-01-27 06:20] mumoshu commented on #258
@valichek I'm surprised it is working for you! Thanks for the info.
As I'm not intended to break existing use-case as long as it is working, I'll just add warnings to somewhere then.

[2017-01-27 06:22] mumoshu commented on #258
Btw warnings already exist in `cluster.yaml` as of today
https://github.com/coreos/kube-aws/blob/master/config/templates/cluster.yaml#L75
Probably I need to add louder warnings somewhere?

[2017-01-27 06:24] mumoshu commented on #264
Thanks @valichek!
That issue seems to still exist today.
We probably need to disable locksmithd and automatic coreos update altogether.

[2017-01-27 06:32] mumoshu commented on #260
Hi @mariusmitrofan, thanks for your interest on kube-aws and the info!
It will indeed help future, potential users who has the req same as yours.

Btw, would you mind confirming if it is possible for me to reproduce your use-case by just creating a kube-aws cluster in an existing VPC which the domain name is customized in the DHCP options?
If there's any little thing you've done in order to bring

[2017-01-27 06:33] mumoshu commented on #244
@helinwang Thanks for the feedback! I'd appreciate it if you could share results for other possible solutions :bow:

[2017-01-27 06:38] mumoshu commented on #276
@numair @neoandroid Thanks for your info!
It is fixed in master.
https://github.com/coreos/kube-aws/commit/713f18b045fad9bf03c8a120791248c4eae064fe

[2017-01-27 06:38] #276 closed

[2017-01-27 06:44] mariusmitrofan commented on #260
Hi @mumoshu,

In order to replicate it, you'll have to have a working VPC that is set up with a custom DNS to serve requests in DHCP options that is used instead of the AWS one.

This means that your DHCP options config **should look like this**:
![image](https://cloud.githubusercontent.com/assets/14178431/22362542/0a0922d2-e46c-11e6-9125-9d73c7b11f05.png)

(I blurred out the image for obvious rea

[2017-01-27 06:48] mumoshu commented on #237
@danielfm @redbaron I've updated the doc https://github.com/coreos/kube-aws/commit/4cefe4714effa79495709d9a63c3d31e7b86c22c
Thanks for your support and the info!

[2017-01-27 06:48] #237 closed

[2017-01-27 06:56] mumoshu commented on #257
@iam404 Hmmm, that's odd.
Could you provide us an example output of `journalctl -u docker.service`?

[2017-01-27 07:01] mumoshu commented on #281
Hi @tarvip, I've recently worked on adding a generic support to switch internal/external ELB for serving Kubernetes API in #284.
Would you confirm if it works for your use-case?

To make an external ELB public, set `controller.loadBalancer.private` to false(which is also the default value for the key):

[code]

And obviously, set `controller.loadBalancer.private` to true for an internal ELB.

[2017-01-27 07:06] mumoshu commented on #281
Hi @spacepluk @tarvip! Thanks for your interest on kube-aws.
Also thanks as always @redbaron for your support.

I occasionally receive feature requests like this.
Personally, I'm not too opposed to add it if it does contribute to more wider acceptance of kube-aws in the world, as long as it doesn't break or affect our primary focus: "a community-driven tool to manage **production-grade** CoreOS Ku

[2017-01-27 07:08] mumoshu commented on #279
@gianrubio @valichek Thanks for the info!
Assuming @valichek's original issue is resolved, would you like me to update the doc now?

[2017-01-27 07:13] mumoshu commented on #283
@c-knowles Thanks!

Just curious but what is the intention of the suggested change to `rollingUpdate.minInstancesInService`? (Sounds cleaner but not exactly sure why the change is needed

For the doc improvement, could I just update https://github.com/coreos/kube-aws/blob/master/Documentation/kubernetes-on-aws-render.md to include your nice explanation quoted below?

[2017-01-27 07:55] mumoshu commented on #189
@cmcconnell1 Hi, thanks for the reply!

Did you have a chance to take a look into https://github.com/coreos/kube-aws/pull/226#issuecomment-272630759?

Basically, the idea is to create an universal etcd endpoint used for (1) etcd peer discovery and (2) etcd cluster discovery from etcd client (like worker and controller nodes) so that we don't need to know all the resolvable hostnames for etcd nodes

[2017-01-27 07:57] tarvip commented on #281
I could confirm it, I have to recreate few clusters anyway from scratch (i think they are too old for upgrade), but v0.9.3 is still `(binaries are pending coreos signs)`.

[2017-01-27 08:05] mumoshu commented on #219
@Thermi Thanks for your reply!

Could you elaborate a bit further?
I guess putting worker nodes in the back of a NAT gateway with an EIP will make all the packets coming from worker nodes as the ones from the specific EIP. So it will be zero-rated according to your original explanation, even there're multiple backend worker nodes in a private subnet(you gain HA and zero-rated transfer without comp

[2017-01-27 08:28] rajivm commented on #257
I'm getting this same error as well, specifically on the controller nodes after creating a brand-new cluster in a new VPC. I have attempted it twice with the same result.

I have previously, using the same version of kube-aws (rc5), been able to create a cluster that worked fine, but I had hardcoded it to use an AMI of version 1185.3.0 of CoreOS. This time I let it use the latest stable (CoreOS-st

[2017-01-27 13:36] c-knowles commented on #283
@mumoshu, the intention was to clarify the meaning and perhaps allow other customisation a to the rolling update later.

Feel free to use what I wrote, but remove the `that I know of` ;)

[2017-01-27 15:41] drywheat commented on #237
Thanks y'all.

[2017-01-27 18:03] sasso commented on #271
@mumoshu what I would like to see in future releases is combining node-pools into main cluster config

sample config

[code]

I would also ditch config settings like `workers: 2` and always prefer advance options with defaults.

Allowing to specify and mount volumes would allow us to encrypt folders like `/etc/kubernetes`, `/var/lib/docker`, `/var/lib/rkt`... without encrypting root volume. Mounti

[2017-01-27 18:29] cmcconnell1 commented on #189
Hello @mumoshu and @redbaron
Yes I/we think that the referenced comment/proposal https://github.com/coreos/kube-aws/pull/226#issuecomment-272630759 would be a (much appreciated) fix/resolution.
Sorry for the delay on that feedback, 'just realized that's the second time you asked me to review and comment on that issue.
Thanks again, we appreciate the project's rapid pulse, your quick responses, and

[2017-01-27 23:10] whereisaaron commented on #277
Hi @PepijnK I just commit the patches to the generated code. At any given time I may or may not need patches due to bugs I'm trying to fix, deployment choices that I can't make in `cluster.yaml`, and totally local-specific customizations.

[code]

[2017-01-27 23:16] whereisaaron commented on #285
@RaphaelHerd here is a starter for a script you can use to generate your own certs for `kube-aws`
https://github.com/whereisaaron/coreos-kubernetes-generate-certs

They are a little out of date, because they don't generate the `etcd` certificate `kube-aws` needs now, but you should be able to update them (and send me PR please 😄 ).

[2017-01-27 23:51] whereisaaron commented on #271
@mumoshu I took the experimental tag to be things that `kube-aws` may add or abandon at even a patch release. But I think they could be at the top level as you suggest, with a suitable comment in the generated `cluster.yaml`, e.g.

[code]

I think the older, alternative tags like `workers: 2` could be deprecated, if the generated `cluster.yaml` includes an example similarly simple set-up, and the

[2017-01-27 23:55] rajivm commented on #257
`CoreOS-stable-1185.5.0` is also failing for me now -- I have one cluster that works fine with it (single controller), and another that has the above error (multi-AZ, multi-controller).

[2017-01-28 00:58] helinwang commented on #244
@mumoshu We ended up changing local /etc/hosts and amazon DNS: https://github.com/PaddlePaddle/Paddle/blob/develop/doc/howto/usage/k8s/k8s_aws_en.md#add-route53-private-name-service-in-vpc

[2017-01-28 01:00] #244 closed

[2017-01-28 01:26] cmcconnell1 commented on #189
Regarding @rbellamy  's question above about testing the recent fix noted in #226

We seem to have internet connectivity issues with new kube-aws pre-release version 0.9.3 (built our own binaries from forked master branch) and inside our VPC.
Specifically, our kube-aws provisioned kubernetes instances have external internet access issues--using the exact same CIDR / subnet settings we've used in e

[2017-01-28 12:58] neoandroid commented on #277
@PepijnK Could you try using the features introduced by #169 ? They're already merged into master and can allow you to setup a cluster w/ all nodes in private subnets while keeping the ELB for controller nodes on the public subnet.

[2017-01-28 20:15] icereval commented on #287
please do, conflicts with the `hostedZone` struct 👍

[2017-01-28 22:29] Overbryd commented on #241
Here is a great article comparing the `host-gw`, `vxlan` and `aws-vpc` networking backends performance wise. http://machinezone.github.io/research/networking-solutions-for-kubernetes/

`host-gw` seems to be a winning choice, but source/destination checks for these ec2 instances must be disabled for this to work.

I would appreciate switching flannel backends. Especially since the default options h

[2017-01-30 00:00] mumoshu commented on #271
Hi @sasso @whereisaaron, thanks as always for your feedbacks!

I believe that both points you've mentioned:

are covered by what @redbaron and I have discussed before in https://github.com/coreos/kube-aws/issues/238#issuecomment-272128944.

Basically, we're going to have:

* Keep creating a separate cloudformation for each main cluster and node pool
* But integrate all the settings for a main clus

[2017-01-30 00:15] mumoshu commented on #271
I've updated my last comment several times. Please re-read if you came from the email notification from github :bow:

[2017-01-30 00:21] mumoshu commented on #202
Closing this as the original issue is fixed since `v0.9.3-rc.3`. Please feel free to reopen the problem still persists.

[2017-01-30 00:21] #202 closed

[2017-01-30 00:39] mumoshu commented on #189
@cmcconnell1 Thanks as always!

Just a quick thought but

and

seems to indicate that

* an internet gateway is missing in the VPC or
* a route to the internet gateway is missing in route table(s)
* or a security group or a network ACL is blocking all the packets to the internet(I'm not sure this could happen in practice).

Let me also add that the only difference between v0.9.3 and v0.9.3-rc.5 is

[2017-01-30 00:47] mumoshu commented on #189
@cmcconnell1

```CREATE_FAILED AWS::EC2::Route PublicRouteToInternet route table rtb-71db6915 and network gateway igw-a45707c1 belong to different networks```
where both the rtb and the igw are kube-aws/CloudFormation stack artifacts/infrastructure being created.

Excuse me if I'm repeating what you've already considered but the error seems to indicate that, if you're deploying to a VPC created by

[2017-01-30 02:04] c-knowles commented on #118
@mumoshu do you have any feedback on how to successfully perform conformance tests?

[2017-01-30 02:15] mumoshu commented on #118
Sorry I missed your comment here!
Would you mind trying the `FOCUS` env var for running only part of tests like:

[code]

The content of `FOCUS` is originating from `ginko.focus=<pattern>` in https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#building-and-running-the-tests
However please beware that `'` and `"` in the `FOCUCS` env var won't be encoded/decoded prope

[2017-01-30 02:19] c-knowles commented on #118
@mumoshu No problem, just want to get started 👍 Do you know if it's possible to use ECR for the repo? I tried it for `DOCKER_REPO` but it seems this is a repo name prefix and there are various appends.

[2017-01-30 02:32] mumoshu commented on #118
@c-knowles Haven't tried yet but probably possible once you provide `DOCKER_REPO=name/of/your/docker/repo/hosted/by/ecr` and you run `docker login` in all the controller nodes as described in http://docs.aws.amazon.com/cli/latest/reference/ecr/get-login.html

[2017-01-30 04:23] whereisaaron commented on #271
Thanks @mumoshu! As of release 0.9.3-rc.5 my use cases are perfectly covered. For the first time I don't need to patch the `stack-template.json` or cloudinit files at all for deployments. 🎉  So I am mainly hoping 0.9.4 doesn't have breaking changes for me 😟 I don't mind remaking my `cluster.yaml`'s from scratch, I mean it terms of supporting the existing use cases.

The single/simpler `cluster.yam

[2017-01-30 07:41] mumoshu commented on #259
@gianrubio 👍 to the `--skip-wait`

[2017-01-30 07:46] mumoshu commented on #259
But please beware that there's currently no way to wait for nodes powered by a spot fleet!
I'd appreciate it if you could add a warning for users that it doesn't wait for spot fleets.

[2017-01-30 08:33] gianrubio commented on #259
Got it @mumoshu, also it's time to remove waitSignal from experimental and get more feedback from users, can I do this in the same PR?

[2017-01-30 08:56] mumoshu commented on #259
@gianrubio Please do so 👍

[2017-01-30 15:11] yawboateng opened #288 "Question: v0.9.3 Release"
Hello All,
apologies if this is not the right place to post this but is there a place where I can get information on when v0.9.3 binaries will be ready?

[2017-01-30 19:21] redbaron opened #289 "Calico enabled cluster produces non-functional network?"
This is preliminary bugreport in case somebody pulling hair like me , maybe we can join forces.

Long story short - pods on worker nodes can't reach apiserver.

Symptomps:

[code]

Flanneld can't find route to *LOCAL* ip address:
[code]

Weird routing table inside pod:

[code]

should it be `169.254.1.1`?? even if IP address is `192.168.9.2`

If somebody runs calico enabled cluster which was creat

[2017-01-30 21:38] cmcconnell1 commented on #189
Hello @mumoshu

The above noted comments were based on consistent observations through two (2) complete deploy/destroy kube-aws cycles into an existing VPC, using internal (non-public) network deployments.
We always run through multiple, complete deploy and destroy cycles for any/each release, to ensure we have predictable/dependable IAC, that behaves according to our expectations, etc.

As far as

[2017-01-30 23:10] Krylon360 commented on #53
I think this would be better to have the API servers and Workers run as a IAM InstanceRole that is trusted to ec2.amazonaws.com.

This will allow the workers to run as a InstanceProfile; and enable the ec2metadata endpoint to be utilized.
example: the kube2iam project.
https://github.com/jtblin/kube2iam

[2017-01-30 23:23] cmcconnell1 commented on #288
@yawboateng  AFAIK, until CoreOS signs the packages and the binaries become available, you have to build from (master) branch.  Only takes a minute though
see https://github.com/coreos/kube-aws#build

[2017-01-31 00:53] cmcconnell1 commented on #289
Hello @redbaron
During my initial testing with building the binary from a forked kube-aws master last Friday, I/we began experiencing internet connectivity issues with all the kube-aws provisioned kubernetes nodes.

Note, that we hadn't seen this problem before.  And this is with us keeping all of our cluster.yaml configurations/settings the same as we've used in all previous releases (up to and i

[2017-01-31 01:08] cmcconnell1 commented on #287
Yes, please remove deprecated / commented out code.  Thanks

[2017-01-31 07:55] drock commented on #257
I have run into this problem as well.  I have tracked my instance down to attempting to upgrade from 0.9.1 to 0.9.3.rc-5.  When I originally ran kube-aws up on my cluster, my single etcd node got the IP address 10.0.1.5.  However, after upgrading to 0.9.3.rc-5 the etcd instance ip that is generated from the config ends up being 10.0.1.4 and that is what is put into cloud-config-controller.

Thus t

[2017-01-31 08:45] spacepluk commented on #281
Hi there,
In my case I would like to use kube-aws everywhere.  I've deployed a couple of clusters for clients where the HA controllers are *very* welcome.

I also migrated my own servers (previously debian) to a very small kube-aws cluster. This was before the HA changes.  It's great and super cheap with spot instances. But in this scenario, adding an ELB costs about the same as the whole cluster

[2017-01-31 12:06] c-knowles commented on #281
@mumoshu this is similar to my concern about the 50% increase in price for dev cluster with dedicated etcd. I guess we could support this? In the case of etcd, my ideal is support shared/external etcd somehow.

[2017-01-31 21:53] cmcconnell1 opened #290 "master branch kube's private internal subnets route table uses igw instead of NAT"
Hello,

As of the pre-release version 0.9.3 and building kube-aws binary from forked master branch, it seems as though the networking/routes for using private, internal NAT subnets as configured in cluster.yaml for kube-aws are no longer working for us.
We are using the all of the same values (in our cluster.yaml) that we've been using successfully--up until this pre-release version 0.9.3, includi

[2017-02-01 00:43] flah00 commented on #182
@mumoshu any thoughts on if we can see this fixed in the next rc? Thanks!

[2017-02-01 00:47] mumoshu commented on #182
Thanks for bringing this up @flah00 but sorry, no it isn't fixed/planned yet because I'm currently working on a big PR to address another users' feature request.
So, in the meantime, please try the workaround as described in my prev comment and/or submit a PR :bow:

[2017-02-01 06:40] mumoshu commented on #290
Hi @cmcconnell1, thanks as always!

I'm running short on time but AFAICS right now, the current master branch is for deverlopers only; it isn't a v0.9.3 candidate but a v0.9.4-rc.1 candidate.

v0.9.3 is still pending due to the binary signing process but you can build it your own by checking out the `v0.9.3` tag of the git repo.

Let me also add that I believe the bug you've mentioned will be fixe

[2017-02-01 07:18] mumoshu commented on #290
Are the new configuration options (and related/supported code) only applicable for the (perhaps newer) AWS NAT Gateway service and NOT applicable for (older) infrastructures which may utilize an actual NAT EC2 instance? If so, this will now be a problem for us as.

No!
Probably you're trying an incomplete version of kube-aws built from pre-v0.9.4-r.c1 but various issues in it were fixed via #284.

[2017-02-01 07:28] mumoshu commented on #266
Closing this as the original question is answered but please feel free to reopen if necessary.

[2017-02-01 07:28] #266 closed

[2017-02-01 07:32] mumoshu commented on #239
@billyteves Thanks for the comment!
Yes, I agree to every point and that's what I believe to be already included in #27.

[2017-02-01 07:32] #239 closed

[2017-02-01 07:33] mumoshu commented on #219
Hi @Thermi, did you have a chance to read my comment above? 😃

[2017-02-01 08:02] mumoshu commented on #257
Hi all!
Anyways, please don't use `kube-aws update` among different kube-aws.
It is not intended to be supported(we aren't sure how it could be supported in the first place. Is it realistic to test every possible combination of an old and a new versions of kube-aws?).
`kube-aws up` an another cluster and migrate to it like I've described in https://github.com/coreos/kube-aws/issues/266#issuecommen

[2017-02-01 08:03] mumoshu commented on #257
Pull request(s) are welcomed to add the doc not for updating but for up"grading" kube-aws cluster(s) :bow:

[2017-02-01 08:07] mumoshu commented on #257
Hi @rajivm, thanks for the info!
I'm not yet sure what's causing your problem.
Could you share me an example `cluster.yaml` for me to reproduce it?

[2017-02-01 08:09] mumoshu commented on #257
Hi @drock, I'm not really sure what was originally causing your problem but we've recently moved out of pre-calculated ips for etcd nodes via #226 which is included in v0.9.4-rc.1 released today.
Would you mind trying v0.9.4-rc.1?

[2017-02-01 08:14] mumoshu commented on #257
Hi @pyralis, thanks for the feedback!
Regarding your comment https://github.com/coreos/kube-aws/issues/257#issuecomment-275199757, I've updated comments in `cluster.yaml` to make it clearer that its users' responsibility to configure the route table if `routeTableId` is specified i.e.:

* if you'd like your subnets to be private, the route table must have a route to NAT or
* for public subnets it

[2017-02-01 08:22] mumoshu commented on #281
Thanks everyone.
@spacepluk @tarvip If someone is willing to test it, I guess I can implement the round-robin thing(Sorry but my resource is very limited and must focus on the kube-aws's primary goal!
@tarvip `controller.loadBalancer.perivate` is added since v0.9.4-rc.1 released today. Would you mind trying?
@c-knowles Shared/external etcd is not my primary focus but I guess it may/may not be impl

[2017-02-01 08:24] mumoshu commented on #281
Btw how many ip addresses of controller nodes can be associated to a single A record(for k8s api endpoint)?
If that's limit is very low, also in that regard, we have to inform our users that the ideal `dns round-robin for k8s api endpoint`feature shouldn't be recommended for production use.

[2017-02-01 08:27] mumoshu commented on #229
Yes, that's the same!
kube-aws is very busy focusing on implementing the most requested features and fixes and merging PRs and unfortunately every release doesn't have a clear estimated release date.
But v0.9.3 is already tagged and even v0.9.4-rc.1 is already released.

[2017-02-01 08:27] mumoshu commented on #229
Closing this as the original question is already answered but please feel free to reopen if necessary.

[2017-02-01 08:27] #229 closed

[2017-02-01 08:29] mumoshu commented on #168
Closing this due to inactivity but please feel free to reopen if anyone has a concrete use-case.

[2017-02-01 08:29] #168 closed

[2017-02-01 08:30] tarvip commented on #281
I'll try to do that this week.

[2017-02-01 08:32] mumoshu commented on #236
Closing this as original question is answered(thanks to @redbaron :bow:)

[2017-02-01 08:32] #236 closed

[2017-02-01 08:39] mumoshu commented on #152
@c-knowles
Since v0.9.4-rc.1, "everything private" can be achieved with `mapPublicIPs: false` + `routeTableId: your-preconfigured-rtb` or
`
subnets:
- name: privateSubnet1
  instanceCIDR: xxx
  availabilityZone: xxx
  private: true

worker:
  subnets:
  - name: privateSubnet
controller:
  subnets:
  - name: privateSubnet
  loadBalancer:
    private: true
etcd:
  subnets:
  - name: privateSubnet
[c

[2017-02-01 08:41] mumoshu commented on #152
@andrejvanderzee I guess your original req could be achieved since v0.9.4-rc.1 with something like:

[code]

Again, more shorter configuration syntax could be added but I'm not yet sure the concrete picture of it!

[2017-02-01 08:44] mumoshu commented on #152
Or if you'd like to reuse subnets, please configure those subnets appropriately beforehand and:

[code]

[2017-02-01 08:44] mumoshu commented on #152
Please see comments for the `subnets:` key in the updated `cluster.yaml` for more options!

[2017-02-01 08:48] mumoshu commented on #176
Hi @andrejvanderzee, fyi probably we're going to support that use-case in process of #238, specifically https://github.com/coreos/kube-aws/issues/238#issuecomment-272128944

[2017-02-01 08:50] mumoshu commented on #134
@redbaron Thanks for the info!
Then at least, we must be sure that `maxsize` is set to a value large enough 😢

[2017-02-01 09:05] andrejvanderzee commented on #176
@mumoshu Great! Haven't had much time lately to get involved, but would be happy to test :-)

[2017-02-01 09:09] mumoshu commented on #208
@nicerobot Hi, deployments to existing subnets is experimentally supported since v0.9.4-rc.1 released today.
If you had a chance to do so, would you mind trying? 😃
You can specify existing subnets like:

[code]

Please be sure that you've properly associated the existing subnet with the EFS like we've discussed above.

[2017-02-01 12:12] spacepluk commented on #281
@mumoshu I would definitely test the round robin thing if you have time to implement it :)

I'm not sure about the limits though.

[2017-02-01 15:25] flah00 commented on #182
Copying and pasting the `SecurityGroupMountTarget` block brought more hassle than it was worth, IMHO. There was a duplication of the target, because the controller and node pools were defining the same resource. Also, management of the worker security group would have to be moved from the main cluster.yaml, which leads to its own set of problems.

Here's what I did to make it work

1. Set `elastic

[2017-02-01 15:26] Vrtak-CZ opened #293 "flannel-docker-opts.service failed to start for non public IPs"
I'm trying to run node-pool with `mapPublicIPs: false` but it causes `flannel-docker-opts.service` failed to start on nodes. When it's set to true it works OK.

Hypercube: v1.5.2_coreos.1
Kube-AWS: v0.9.3

[2017-02-01 18:22] defunctzombie commented on #230
Is there some place to find a working set of RBAC rules for a cluster? I have tried all of the usual references to the different issues discussing this topic but none of them make all the access denied errors go away on some of my host kubelets when I journalctl them.

[2017-02-01 20:08] drock commented on #257
@mumoshu my problem is related to upgrading from 0.9.1 to 0.9.3.  The pre-calculated IP for the etcd node when I deployed with 0.9.1 was 10.0.1.5 and that is what was assigned to it from the generated CF template.  With 0.9.3 however, the pre-calculated IP ended up being 10.0.1.4.  That is what ended up getting set as the ETCDENDPOINT in the worker and controller cloud-configs.  Since kube-aws doe

[2017-02-01 23:44] whereisaaron commented on #230
@defunctzombie RBAC are Kubernetes permissions and journalctl is a Linux OS logging tool, I don't think there is any overlap?

[2017-02-02 09:10] gianrubio commented on #230
@defunctzombie maybe the auditlog can help, enable in your cluster.yaml

https://github.com/coreos/kube-aws/blob/d6026883e8b2ae514f1b2fe82fb4a39c4fdcb944/config/templates/cluster.yaml#L436-L439

[2017-02-02 17:31] sasso opened #295 "TLS handshake errors caused by Controller ELB running tcp healthchecks to 443"
We are seeing a lot of "TLS handshake error" on kube-apiserver and authproxy

![screenshot 2017-02-02 09 29 08](https://cloud.githubusercontent.com/assets/8398242/22560662/4512e5d0-e92a-11e6-9988-b436134d5d5d.png)

Anyone have any ideas why this is happening?

[2017-02-02 17:38] redbaron commented on #295
check from the client side, there should be  more informative error

[2017-02-02 17:54] sasso commented on #295
Client side works and I dont see any errors

[2017-02-02 17:56] redbaron commented on #295
there must be, these IPs belong to pods right? and something there failed to established connection

[2017-02-02 18:00] sasso commented on #295
huh, ok I think I can pin it to a service and ELB healthcheck. ty!

[2017-02-02 19:38] sasso commented on #295
![screenshot 2017-02-02 11 36 48](https://cloud.githubusercontent.com/assets/8398242/22565138/f36372c4-e93b-11e6-8bab-6927420e7d66.png)
![screenshot 2017-02-02 11 36 58](https://cloud.githubusercontent.com/assets/8398242/22565139/f37921fa-e93b-11e6-8b50-d8ecf28c832a.png)

This happens because we are doing TCP healthcheck on SSL listener

[2017-02-02 22:24] Vrtak-CZ commented on #293
making some research...

[code]

on etcd instance

[2017-02-02 23:17] Vrtak-CZ commented on #293
im so sorry but problem is in our VPC

[2017-02-02 23:17] #293 closed

[2017-02-03 09:28] tarvip commented on #281
It seems that it doesn't cover my case. This option allows only creating public **or** private ELB. But I need both. The idea is that we want to restrict access to public ELB (by removing 0.0.0.0/0), but when you restrict access to public ELB then nodes cannot connect to API via public ELB any more.

[2017-02-03 13:54] Thermi commented on #219
@mumoshu Well, yes, if we used a NAT gateway, that would work, but it would
1) restrict the available bandwidth and prevent a reuse of any port globally
2) not give us HA, because a single instance (which a NAT gateway is, as far as I know) is not HA
3) we couldn't reach any of the instances via SSH, except by connecting to the NAT gateway first.

[2017-02-03 14:27] neoandroid commented on #219
1. NAT gateway support up to 10Gbps. [1]  Do you need more than that? If that's the case then you'd need a more complex setup to achieve bigger throughput.
2. NAT gateways are implemented w/ redundancy in each zone, so they are HA. [1] The only way to break HA would be to have EC2 instances spread across all AZ and having NAT gateways only in one of the AZ.
3. You're right, you'd have to setup you

[2017-02-03 15:22] Thermi commented on #219
Well, if this endeavour goes well, the bandwidth will be very high, so I don't want to lock into the NAT gateway solution.
The point about port reuse still stands.

[2017-02-03 15:23] Thermi commented on #219
How does CoreOS behave when there are multiple network interfaces to a VPC?

[2017-02-03 15:53] yawboateng opened #298 "colocate etcd on the masters"
I was wondering if there is an optional setting to have etcd run on the master/controller nodes

Reason: I have some none production environments that i want to keep as small as possible, and I feel am wasting resources using a separate master and etcd nodes. and it will be great to be able to pass in an option during deployment to either have etcd run on the master or use a dedicated node

[2017-02-03 16:46] defunctzombie commented on #230
There is when I use it to see that kubelet is having permission denied errors when accessing the api.

[2017-02-03 16:46] defunctzombie commented on #230
The issue was that kubeadm configured my kubelets to use the kubernetes-admin user and not the kubelet user when accessing the api. When I gave that user permissions, kubelet was able to connect again.

[2017-02-03 16:51] sasso commented on #298
I was wondering that too, how come that you decided to run a separate etcd cluster and not use existing machines. Also if I'm not mistaken Tectonic runs etcd on every controller/worker node. Also would it be HA and failure prone if you would run etcd on every node with combination of proxy nodes on workers?

[2017-02-03 21:45] drock opened #299 "0.9.4-rc.1: Private subnet with existing nat gateway specification does not create route"
version 0.9.4-rc.1

The documentation in cluster.yaml gives this example for specifying a managed subnet to use an existing nat gateway
[code]

However, when I follow that example, my subnet is created with a route table but no route is created  is created at all.  This is my subnet specification:
[code]

The resulting CF stack template from doing `--export` has no routes for that subnet.  Searchi

[2017-02-05 17:43] cheungpat opened #300 "0.9.4-rc.1: kube-aws up --export does not export userdata"
The `kube-aws up --export` allows me to export the stack template without creating the stack in CloudFormation. However, it does not generate the instance userdata for controller and workers.

[code]

After this command is run, the stack template is saved in the local file system but `userdata-controller` and `userdata-worker` are not. This is because `--export` causes the `up` command to only sav

[2017-02-05 19:09] gianrubio commented on #259
I'd appreciate it if you could add a warning for users that it doesn't wait for spot fleets.

@mumoshu could you explain why is not possible to wait signals from spoot fleets?

[2017-02-05 23:33] mumoshu commented on #259
@gianrubio cfn-signal doesn't support spot fleets/SpotFleet resources in CloudFormation don't support signaling.

[2017-02-05 23:41] mumoshu commented on #300
@cheungpat Good catch!

I'd rather like to put all the necessary assets into the new directory named `export/` so that its content would look like:

- `export/`
  - `userdata/`
     - `cloud-config-controller`
     - `cloud-config-worker`
  - `stack.json` (former `{stackame}.stack-template.json` renamed to clarify that it is different from the `stackc-template.json` which is a golang text-template

[2017-02-05 23:56] mumoshu commented on #298
Hi, thanks to you two for the feedbacks!
Excuse me if I'm repeating what you already know but first of all, running etcd proxy on every node doesn't contribute to HA of an etcd cluster at all.
Regardless of proxies, once majority of etcd nodes(2 for 3 nodes cluster and 3 for 5 nodes cluster and so on) goes down, your etcd cluster stops working.
Also note that you have to avoid having an odd number

[2017-02-06 00:04] mumoshu commented on #281
@tarvip Ah, makes sense! So what you'd like to have is both:

* a public ELB or public A record for round-robin of public IPs of controller nodes
* a private ELB or private A record for round-robin private IPs of controller nodes

And you're going to manually tweak security groups for controller nodes in `stack-template.json` for further access control, right?

[2017-02-06 03:32] mumoshu commented on #208
Hi @nicerobot thanks for the feedback!
Two things:

* I guess you've tried to run `kube-aws update` for upgrading?
  * If so, would you mind running `kube-aws destroy` and then `kube-aws up` to completely recreate your cluster? `kube-aws update` isn't intended for upgrading kube-aws.
* Could you summarize changes applied to your cluster.yaml? I'm not yet sure your configuration but anyways failing

[2017-02-06 03:38] mumoshu commented on #289
Hi @heschlie, could you share your insight on this? :bow:

[2017-02-06 03:51] mumoshu commented on #219
@Thermi I think I now got your point on sticking to EIPs directly assigned to nodes.
However I'm afraid I can't personally help you soon as I'm not a CoreOS guy who knows a detail like that!
I suggest you to consult someone more experienced to CoreOS about your last question https://github.com/coreos/kube-aws/issues/219#issuecomment-277275044

[2017-02-06 03:51] mumoshu commented on #219
Btw @Thermi

Just curious but isn't it possible to assign an EIP by writing your own custom bash script which just automate what you're doing manually today, in `userdata/cloud-config-*`?
That way you can virtually hook into the startup sequence of your nodes to assign EIPs automatically.

[2017-02-06 04:24] #299 closed

[2017-02-06 06:23] mumoshu commented on #299
@drock Thanks for your feedback :bow:
I've released v0.9.4-rc.2 which includes the fix for this.
Would you mind trying?

[2017-02-06 06:37] tarvip commented on #281
Yes. Anyway, I guess if others are happy with current solution, then there is no need to support such case.

[2017-02-06 07:17] mumoshu commented on #281
Honestly I've not yet considered a separation of controller LBs like that but it sounds like a good thing to do for security reasons.
I'd like to hear from others, too.

[2017-02-06 07:25] mumoshu commented on #281
Just a quick thought without any consideration on feasibility but probably a generic solution for https://github.com/coreos/kube-aws/issues/281#issuecomment-277561377 would be something like the below in cluster.yaml?

[code]

[2017-02-06 08:13] mumoshu commented on #257
Thanks @drock, sorry about that but `kube-aws update` is not intended to be used for "upgrading" kube-aws.

To be honest I can't guarantee anything but anyways it is intended to support that use-case.
Former kube-aws versions assumed very first IP addresses of the vpc/subnet CIDR range is reserved for etcd nodes hence theoretically it was impossible to deploy multiple kube-aws clusters into one vp

[2017-02-06 13:03] redbaron commented on #289
What seems to be happening is that both `calico/node`  and `calico/kube-controller` use python etcd client, which can't handle CA chain certs. This is not manifesting itself when kube-aws creates cluster with 'manageCertificates: true` (default value), because certs generated by kube-aws have only one self-signed CA cert and therefore CA chain is just one cert.

when using `v1.1.0-rc` `calico/node

[2017-02-06 13:03] #289 closed

[2017-02-06 14:46] drock opened #302 "0.9.4-rc.2: Only create 1 managed NatGateway per AZ"
The new flexibility of how you can create and manage subnets with/without managed NATGateways is really great.  IMHO there is only one downside however.  If you let kube-aws manage the NATGateways for private subnets, it creates 1 NATGateway per subnet.

This causes slight problems if you define a lot of private subnets in your cluster.yaml.  In my use case I have 6 private subnets (3 in each of 2

[2017-02-06 14:55] drock opened #303 "0.9.4: Allow specifying a Ref for existing NATGateways"
When specifying private subnets using existing NATGateways in cluster.yaml you can specify the existing gateway using either its identifier or an output from another stack.  This means you can only reference a NATGateway from another CF stack.

It would be great if you could specify a "Ref" to a resource in the same stack though.  This would allow you to customize stack-template.json to add your o

[2017-02-06 14:59] drock commented on #299
@mumoshu Thank you for the prompt turnaround.  v0.9.4-rc.2 does appear to resolve this issue for me :smile:

[2017-02-06 15:15] redbaron commented on #257
I didn't find mentions of it in the doc. What can be done to support rolling upgrades? Is it a planned goal at all?

[2017-02-06 16:26] yawboateng commented on #298
Hi @mumoshu  thanks for the response,
what would you recommend as the minimum instance size (m4.large, m3.medium etc) of an etcd node

[2017-02-06 19:06] cmcconnell1 commented on #290
Thanks @mumoshu for your notes both here and offline.  I was indeed building  from the master branch and did not pull the specific version's tag.  I changed the title to reflect this.

On a somewhat related note, I wanted to provide some of my notes/observations for the latest kube-aws **v0.9.4-rc.1** somewhere, so instead of creating another issue, I'll just post them here.

Unfortunately, due to

[2017-02-06 19:09] tnguyen14 commented on #236
@redbaron if the cluster is already up and running with a CA, each new developer who wants to work on it will need to run `kube-aws render credentials --ca-cert-path= --ca-key-path=` to generate their own `credentials` folder, is that correct?

[2017-02-06 20:05] redbaron commented on #236
no, it won't work.kube-aws shies away from 3 real life cases, leaving it up to you to , solve it

1. etcd management
2. certs management
3. rolling upgrades

Regarding certs management, if multiple devs tried to work on same cluster, but use their own credentials, this essentially be a cert rotation, which wont work out of the box because API servers will be started effectively with new  `--servic

[2017-02-06 21:44] tnguyen14 commented on #236
@redbaron so in `credentials` folder, I see different kinds of certs (`ca`, `api-server`, `worker` and `admin`). When you say "certs", do you refer to all of them, or just the `ca` certs?

[2017-02-06 22:47] redbaron commented on #236
well ,you asked about `--ca-cert-path= --ca-key-path=` args, so I assumed that CA cert and key will be shared between devs, so I was refering to `api-server` only, it got to be shared as well.

If you intend to share nothing and let every dev to generate full stack of certs, then nothing will work, as `kube-aws` leaves Etcd servers untouched after first up, therefore newly generated certs will not

[2017-02-06 22:53] tnguyen14 commented on #236
@redbaron thanks. for devs who are not the first time creator, if they use the original (shared) `ca` and `api-server` certs, would they still need to run `kube-aws render credentials`?

[2017-02-07 00:28] mumoshu commented on #290
@cmcconnell1 Thanks for the detailed feedback as always!

Just a quick reply but the `subnets` should be:

[code]

[2017-02-07 01:57] cmcconnell1 commented on #290
Thanks @mumoshu, suppose my bad here, but would be great if we could get examples of how to use any new configuration options (perhaps commented-out, etc.) in the cluster.yaml file?

I was wondering why I had that wrong and just checked a new default cluster.yaml file created with the kube-aws version 0.9.4-rc.1 and we see this:

[code]
Appreciate your comment above but then this commented out con

[2017-02-07 05:06] tnguyen14 commented on #236
Also, how should the `.enc` files be decrypted by other devs?

[2017-02-07 06:31] tnguyen14 opened #306 "certificate signed by unknown authority"
I followed this guide https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws-launch.html to create a kubernetes cluster.

I recently upgraded `kube-aws` to `v0.9.4-rc2`

After successfully do `kube-aws up --s3-uri s3://..`, I tried to get the nodes with `kubectl get nodes`, and that's when I get this error:

[code]

In the `kubeconfig` file, there is a line describing the certificate authorit

[2017-02-07 13:07] Thermi commented on #219
@mumoshu No, just doing that wouldn't cut it, because every instance has the same cloud config. We'd need to do some state keeping on another host or in other infrastructure to make sure we don't set the same EIP that is already in use or do other bad stuff. But the idea is good, I just wouldn't do it with Bash, but in another language.

[2017-02-07 15:59] redbaron commented on #219
@Thermi you can use opportunistic approach: every node queries unassigned EIPs and tries to assign randomly chosen one. if failed (which means that somebody else grabbed it first), then it fetches new list of unassigned EIPs and tries again.

[2017-02-07 22:00] tnguyen14 commented on #306
It seems like the problem was because my credentials were not all generated correctly. So perhaps the apiserver cert was signed with a wrong ca cert? Not sure how that might've happened.

Anyway, deleting the `credentials`, then destroy the cluster and bring it up again solved the problem for me. Luckily it's still an experimental cluster, so I could do that. Not sure if I could've fixed it withou

[2017-02-07 22:00] #306 closed

[2017-02-07 23:43] mumoshu commented on #208
@nicerobot Thanks again for the feedback!

Excuse me if I've missed writing documentation for that but:

* AFAIK existing subnets `subnet-7cfce557` and `subnet-69cee330` and route table(s) assigned to those must have been tagged like `KubernetesCluster=<YOUR KUBE-AWS CLUSTER NAME>` for kubernetes to work.
Tagging must be done (at least for now) on your side because kube-aws tries its best NOT to m

[2017-02-08 01:12] cheungpat commented on #300
I would like to work on this with @mumoshu’s suggestion on file naming. Should I make a pull request or should I wait longer for community feedback?

[2017-02-08 01:22] mumoshu commented on #300
@cheungpat Thanks for checking in.
The former would be nice because then we can make it just work at first and then gradually improve it if necessary.
I'm looking forward to your pull request :+1:

[2017-02-08 03:12] duanshiqiang opened #308 "v0.9.4-rc.2: CloudFormation Stack syntax error: ValidationError: Template format error: Output InstanceEtcd0PrivateDnsName is malformed."
The stack template generated outputs Etcd instance private DNS name which contains invalid name assigned to them. The section inside `stack-template.json` is:

[code]

After rendered the stack from `cluster.yaml`, when doing `kube-aws validate` it gives below error:

[code]

It seems AWS CloudFormation doesn't allow `Export` name contains digits, it only allows alphanumeric characters, colons, or

[2017-02-08 07:03] redbaron commented on #308
How does this section look like when you do `kube-aws up --export --pretty-prtint` ?

[2017-02-08 08:08] duanshiqiang commented on #308
I deleted my cluster.yaml and I found that I can't reproduce this error.. I guess something wrong in my side instead of kube-aws. If you guys can't reproduce also I think this issue should be closed.

[2017-02-08 12:20] soellman opened #309 "controllers can't access the kubelet port on other controllers"
In the case of multiple masters, the masters may need to access the kubelet (port 10250) on other masters in order to respond to `kubectl exec` or `kubectl logs` requests for pods running on a different master than the one servicing the request.

[2017-02-08 16:02] drywheat commented on #288
I honestly wonder how long it will take CoreOS to sign those binaries.

1. This pre-release came out 22 days ago.
2. Even more surprising, **v0.9.2** was released on Dec 15, 2016 and it is still unsigned.

[2017-02-08 16:29] pieterlange commented on #288
@philips could you appoint someone at CoreOS to take care of this? :)

[2017-02-08 23:15] #309 closed

[2017-02-09 01:51] redbaron commented on #288
it doesn't look like coreos is interested in developing this product further

[2017-02-09 08:09] mumoshu commented on #257
@redbaron Not planned yet i.e. it is at the priority lower than other features, improvements, etc.

[2017-02-09 08:19] redbaron commented on #257
@mumoshu I understand it, but what would be the best format to discuss missing features so that we can have a clear plan and interested people can contribute towards it?

[2017-02-09 08:55] mumoshu commented on #257
@redbaron How about discuss in github issues and then someone wants to get involved at most send pull requests to [our roadmap](https://github.com/coreos/kube-aws/blob/master/ROADMAP.md), so that anyone can just contribute by implementing features noted in our roadmap?

[2017-02-09 11:20] redbaron opened #311 "Identify missing features to support continuous cluster management"
as per @mumoshu , kube-aws doesn't support continuous cluster management , whole cluster need to be recreated between kube-aws version and use-case of just applying updates to an existing cluster is neither supported nor tested.

If there is interests in supporting continuous cluster management, then lets identify what is missing to make it happen.

[2017-02-09 14:05] jkamenik opened #312 "kube-aws s3 bucket with ending "/" breaks upgrade"
I ran

[code]

After about 15 minutes the cluster was still not available, so I started to do some digging.  `cloud-init` has failed with a 403: Forbidden error

The issue is that the S3 permissions was set to

[code]

The error is caused by the two "//" in the path.

Also, it did not appear as if any new files were uploaded to S3 (but that may just have been because no new files were needed).

--

[2017-02-09 18:03] yawboateng commented on #288
@mumoshu, any update on this?

[2017-02-09 23:56] mumoshu commented on #312
@jkamenik Good catch, and thanks for the detailed report!
It definitely seems like a bug.
I'm labeling this issue so that we don't forget fixing it.

[2017-02-10 00:06] mumoshu commented on #311
Thanks for raising this issue!
AFAICS:

* Applying "updates" to a cluster is supported as much as supported by cloudformation.
  * Specifically, rolling-updates to worker nodes and controller nodes (1) to change instance type and/or volumes, (2) to toggle experimental features like nodeDrainer, waitSignal, awsNodeLabels, nodeLabels, awsEnvironment should already be supported today
* Applying "upgr

[2017-02-10 01:39] c-knowles commented on #311
It won't apply to every use case but I tend to run an export of all the k8s definitions, import them to the new cluster and then switch the DNS over (each k8s stack is versioned). That method is not really possible on the more stateful cases but works quite well for most of our stateless applications.

[2017-02-10 03:38] #308 closed

[2017-02-10 15:53] gianrubio commented on #230
guys, can you look on #316

[2017-02-10 20:51] whereisaaron commented on #230
Great @gianrubio.  I think #316 is a hugely helpful patch for users' confusion when they enable RBAC and nothing works. Basically we provide default open permissions on the 'kube-system' namespace and the 'kube-admin' user, and default closed permissions for everything else, including the default namespace.

Something I noted in 1.5.x is that enabling RBAC now comes with some build in cluster role

[2017-02-13 03:22] AlmogBaku commented on #288
@mumoshu @colhom ?

[2017-02-13 03:58] mumoshu commented on #298
Hi @yawboateng!
I recommend m4.large(which is the minimum one recommended by etcd/coreos team!) or larger for etcd nodes in a production environment.
I've written a general guidance previously in an another issue at https://github.com/coreos/kube-aws/issues/181#issuecomment-268705548

[2017-02-13 04:13] mumoshu commented on #288
Hi all,

I've talked with @colhom and decided to drop the signing process (at least for now) so that we can deliver non-rc releases faster.

I'll build v0.9.3 myself and release it if necessary.
However, if you're not yet running a prod env with it, I'd rather appreciate it if you could use v0.9.4-rc.1 or greater and leave feedbacks if any, so that we can together accelerate development of kube-aw

[2017-02-13 09:22] c-knowles opened #318 "Extra validation required for existing VPC plus no IGW spec"
A combination of existing VPC but no IGW specification means that an IGW is created by kube-aws as expected but it is not attached to the VPC. kube-aws will currently fail on this at the point of stack creation. The fix is to specify an existing IGW in the same VPC within the `cluster.yaml`.

In theory this could be supported by kube-aws, we'd just need to move the `VPCGatewayAttachment` definitio

[2017-02-13 09:30] c-knowles opened #319 "Extra validation when worker/controller/etcd config does not contain subnets but subnets config exists"
There is a comment in `cluster.yaml` in the worker/controller/etcd blocks which states:

[code]

However, actually this logic only applies when the subnets key is completely missing in cluster.yaml. In other words, if you do define `subnets` as a top tier configuration then the `worker.subnets`/`controller.subnets`/`etcd.subnets` must be defined.

Currently with malformed config, the user is met w

[2017-02-13 09:56] gianrubio commented on #230
We should follow the k8s nomenclature for every configuration, but as you write there's no docs about what are the default/recommended rbac policies :(. As you suggested, I renamed the full-access to cluster-admin.

"Let's get the ball rolling ⚽️"  (@mumoshu), we could adapt the policies as long we are using rbac.

[2017-02-13 20:20] kruunch commented on #306
Just ran into this issue as well. Following https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws-launch.html once the nodes are up kubectl cannot connect with the controller.

@tnguyen14 fix worked for me as a quick work around (obviously not ideal if you're trying to base any automation on the kube-aws setup).

[2017-02-14 02:55] c-knowles opened #320 "Detailed EC2 monitoring metrics"
We previously added ASG metrics since they are [free and no longer require EC2 detailed instance monitoring](https://github.com/coreos/kube-aws/pull/137). We left detailed monitoring for ASGs always switched on although it's not required any more for ASG metrics. The current situation seems to be controllers and workers have detailed EC2 monitoring switched on but etcd nodes have it switched off.

[2017-02-14 19:18] whereisaaron opened #322 "Using experimental.auditLog to stdout lead to 16GB docker log file and errors"
I have been trying enabling the audit log to stdout with the following `cluster.yaml` settings.
[code]

After a few days, the kube-apiserver log began to fill with write errors after out of space. (This seems strange up front, how come there was space for the error to log that it couldn't log?)
[code]

There was 7.5GB free on the root filesystem but I noted the docker log file for kube-apiserver h

[2017-02-14 20:51] redbaron commented on #322
Before https://github.com/coreos/kube-aws/issues/134 is solved, you can apply solution proposed in a first commit. Or better make a PR :)

[2017-02-15 02:11] whereisaaron commented on #134
Here was I naively thinking [the logging documentation](https://kubernetes.io/docs/user-guide/logging/overview/) saying that container logs were rotated applied to Kubernetes in general. Turns that it really only applied to the GCE versions, and my clusters have no log rotation :cry:.

After the 'k8s-app' services were containerized, in GCE they still arranged for them to log to `/var/log`, while

[2017-02-15 02:13] whereisaaron commented on #322
Oh dear, oh dear, oh dear. Not a malfunction, there just isn't any log rotation enabled at all! Thanks for the heads-up @redbaron. I'll close this issue, as it isn't adding anything #134 isn't covering.

[2017-02-15 02:13] #322 closed

[2017-02-15 02:21] mumoshu commented on #134
@whereisaaron I'm afraid if I'm following you correctly but yes and no.
Probably the most important part is that docker's built-in log-ration is for the json-log logging driver.

Therefore,

If you by any reason stick with the fluentd logging driver of Docker, yes; the fluend-logging driver for Docker by definition would'nt be used in combination with docker'ls built-in log-rotation(it doesn't kno

[2017-02-15 02:43] mumoshu commented on #27
FYI I've written https://github.com/coreos/kube-aws/issues/298#issuecomment-277560888 about the general concerns about H/A of an etcd cluster and why we don't collocated etcd on controller nodes.

[2017-02-15 02:44] mumoshu commented on #298
Closing this for now but please feel free to reopen if necessary.
Also please see #27 for planned improvements in the etcd management.

[2017-02-15 02:44] #298 closed

[2017-02-15 02:46] mumoshu commented on #300
Hey @cheungpat, I've addressed this in #315 because it is required in process of E2E testing 👍
Please see the description of the PR for more information and especially about which/to where files are exported.
I hope you like it!

[2017-02-15 02:46] #300 closed

[2017-02-15 03:18] cheungpat commented on #300
Oh, you have beat me to it. Thanks for your help! I will take a look.

[2017-02-15 03:42] whereisaaron commented on #134
Hi @mumoshu, I was saying people *either* need a local file rotation system that is compatible with fluentd and similar, *or* they could use Docker streaming logging drivers and not need to worry about log rotation at all. However, please ignore I said any of that. On reflection I'd rather `kube-aws` stick close the current k8s core team approach to this, and support local logs with rotation with

[2017-02-15 04:17] mumoshu commented on #134
Thanks for the feedback @whereisaaron!

Only the reasons I'd rather like not to enable logrotate installed by default in CoreOS is:

1. It isn't "right" thing to do(no one wants to miss production log messages whenever possible!) according to my theory https://github.com/coreos/kube-aws/issues/134#issuecomment-272994605 and
2. I prefer to run logrotate as a daemonset so that I have more control ov

[2017-02-15 16:52] whereisaaron commented on #134
Thanks @mumoshu I agree with you, I don't like the `copytruncate` workaround, it isn't the "right" way to do it. Yet from your and @redbaron and my research it is (currently) the best available option. It is also considerably better than no rotation at all 😃

I suggest we just copy the upstream solution for now, then replace it as soon as a better option is available. I don't mind if it is default

[2017-02-15 17:43] redbaron commented on #134
well, my personal view is that  `--log-opt max-size=50m` is the best way to go. `copytruncate`is terrible

[2017-02-15 18:08] whereisaaron commented on #134
@redbaron if we go with `--log-opt max-size=50m` will that work for log tail watchers like `fluentd`? You were saying the `rotate_wait` was a blocking bug right now? Or does setting `--log-opt max-files=1` work around that problem?

I'd be happy with anything that works for both `kubectl logs` and `fluentd`.

[2017-02-15 22:35] #259 closed

[2017-02-15 23:46] #134 closed

[2017-02-15 23:54] redbaron commented on #134
@whereisaaron , to be honest I have zero interest in `fluentd`. If you need to tail logs, `rsyslog` never failed me

[2017-02-16 01:37] whereisaaron commented on #134
Kubernetes and fluentd are the projects [CNCF](https://www.cncf.io/) selected and host for cloud native apps, so there is obviously going to be a lot of focus on using them together. [rsyslog](https://github.com/rsyslog/rsyslog) doesn't support k8s metadata yet, nor CloudWatch for that matter. There was an [effort to re-implement fluentd k8s support as an rsyslog plugin](https://trello.com/c/WI74I

[2017-02-16 03:06] redbaron commented on #134
really, even if it is blessed by Pope, log forwarder which blows up right into your face simply because app managed to write more data than expected, one which takes same or more CPU time  to process log entry than app have spent  processing a request , log forwarders like that have no value to me.

But that is not the point. Writing log files and rotate them is a legitimate way to handle logs, wh

[2017-02-16 05:19] mumoshu commented on #288
Anyway, I've released v0.9.3.

[2017-02-16 05:19] #288 closed

[2017-02-16 05:33] mumoshu commented on #253
The experimental feature `kube2IamSupport` is introduced by #297 and is included since v0.9.4-rc.3. When enabled via `experimental.kube2IamSupport.enabled` and/or `worker.nodePools[].kube2IamSupport.enabled`, it adds permissions for controller nodes and/or worker nodes, respectively, to allow kube2iam to assume roles.

[2017-02-16 05:33] mumoshu commented on #253
Is anyone going to write some documentation about the feature?
Then, this issue can be closed 😃

[2017-02-16 05:39] mumoshu commented on #312
This is fixed via #315 which is included since v0.9.3-rc.3.
I'm closing this but please feel free to reopen if the issue still persists!
Thanks for reporting @jkamenik.

[2017-02-16 05:39] #312 closed

[2017-02-16 05:41] mumoshu commented on #238
@redbaron Can we close this as #315 is already merged?

[2017-02-16 05:43] mumoshu commented on #152
I'm closing this as the requested feature is already available since v0.9.3-rc.1.
Thanks everyone for your contributions!

[2017-02-16 05:43] #152 closed

[2017-02-16 05:51] mumoshu commented on #52
This is supported since v0.9.4-rc.1. Please read the updated comments in `cluster.yaml ` to select an appropriate set of settings according to your need 😃

[2017-02-16 05:51] #52 closed

[2017-02-16 06:24] redbaron commented on #238
This is great! Will port our config to new structure soon and test it.

[2017-02-16 06:24] #238 closed

[2017-02-16 12:49] gianrubio opened #326 "Move s3-uri to init/cluster.yaml"
Nowadays all the commands require --s3-uri flag. It's a pain to run every command with --s3-uri, let's move this option to the cluster.yaml file.

[2017-02-16 22:36] whereisaaron commented on #134
Surely you jest - I can't believe a ruby application would be inefficient 😛

[2017-02-16 23:30] #230 closed

[2017-02-17 15:36] redbaron commented on #118
reading code (https://github.com/kubernetes/kubernetes/blob/7028abc5fcb41e7975b98f0900d5765afc48f464/pkg/features/kube_features.go#L65-L68)  it looks like  enabling `ExperimentalCriticalPodAnnotation`  kubelet feature can take us a long way even without rescheduler

[2017-02-17 21:12] danielfm commented on #311
One thing that's bothering me is how we are versioning new releases; just by looking at the version numbers, we should be able to tell if one release is compatible with another.

[Tagging a release properly](http://semver.org) is the first step towards more stable software. For instance, take v0.9.3 and the current RC of 0.9.4. These are _completely_ different releases, with drastic changes in UX.

[2017-02-18 00:09] c-knowles commented on #311
I think especially if coreos are not signing these any more, it'd be better to release v1 and less RCs. There's still a few things on the roadmap that main maintainer @mumoshu may wish to have prior to v1.

Just to play devil's advocate for a second, semver allows completely breaking changes on 0.x releases.

[2017-02-19 07:50] simoami opened #330 "kube-aws render credentials using publicly purchased ssl certificate?"
Is it possible and relevant to use a publicly issued SSL certificate for `api.domain.com` to generate kube credentials?

I currently have the following from godaddy:
- gd_bundle-g2-g1.crt
- 2c179c1e4e2bb02d.crt
- public.pem (generated from above 2 crts)
- private.pem

Note: The custom domain `api.domain.com` is already setup to access the api gateway via https.

[2017-02-19 10:41] redbaron commented on #330
kube-aws setup not only validates server certs, but also validates a client cert. for that to work, godaddy would need to sign your client certs too. not sure if they provide such a service.

You can also use godaddy cert from api server and self-generated ones for client, just put all CA certs (both goddady bundle and local CA chain you used to sign certs) into ca.crt file

[2017-02-19 13:20] pieterlange commented on #330
I didn't know that was possible!

That doesn't win you anything though, in fact only grows your exposure; now you're dependent on your own management of a CA and any (mistakenly) client certificates by godaddy (..) end up impacting your cluster as well.

[2017-02-20 00:31] simoami opened #331 "v0.9.4-rc.3: kube-aws up fails while launching controller nodes when custom CA cert/key used"
Hello,
I have the `cluster-Controlplane-*` stack failing with an autoscalinggroup error related to Controllers:
[code]

The cloud formation log below shows the AutoScalingGroup times out after 15 mins. However I can see that one  cluster-control-plane-kube-aws-controller EC2 instance was launched properly. My impression is that the asg is not able to communicate with the launched instance but that

[2017-02-20 00:40] mumoshu commented on #331
Hi @simoami, thanks for trying kube-aws!
I guess you're using v0.9.4-rc.3, right?
If so, could you share us your `cluster.yaml` so that we can investigate into your configuration further?
A controller ASG can fail because of various reasons(e.g. certs used to communicate between etcd and controller nodes, custom security group rules, incorrectly configured existing subnets specified via `subnets[]

[2017-02-20 00:54] simoami commented on #331
@mumoshu Thanks for the quick reply. Here's my cluster.yml. and I can see that it could be the certs using to generate creds. I'm using a godaddy ssl cert. If you think that's worth investigating, please let me know and I will give you more info on it.

[code]

[2017-02-20 01:16] mumoshu commented on #331
Thanks @simoami!

In the meantime, would you mind recreating your cluster by:

* Removing all the files but the `cluster.yaml` and then
* Running `kube-aws render` and then `kube-aws up --s3-uri` like you've probably done before

WITHOUT godaddy certs to isolate the issue?

[2017-02-20 01:19] mumoshu commented on #331
Also, would you mind telling me which files under the `credentials/` directory did you replace with godaddy ones?

[2017-02-20 01:22] simoami commented on #331
I did not replace any certs, I just ran:

[code]

My certificates:
- gd_bundle-g2-g1.crt (godaddy ca bundle)
- 2c179c1e4e2bb02d.crt (purchased ssl cert issued to me from godaddy)
- public.pem (concat of above 2 crts)
- api-hipsync.key (private key used to issue cert. has BEGIN / END headers)

[2017-02-20 01:27] mumoshu commented on #318
Thanks for submitting the issue @c-knowles!

kube-aws by design tries its best not to modify existing AWS resources.
Therefore, when `vpcId` is specified, kube-aws should'nt create an IGW and a VPC gateway attachment. It will be even better if we could emit a warning message when the VPC specified via `vpcId` doesn't have a valid IGW and a gateway attachment.

[2017-02-20 01:27] simoami commented on #331
btw, I couldn't just run with `cluster.yaml`. When I run `kube-aws up --s3-uri s3://hipsync-kube-aws` I get:

[code]

[2017-02-20 01:29] mumoshu commented on #331
@simoami You need to run `kube-aws render` beforehand to successfully run `kube-aws up`!

[2017-02-20 01:30] simoami commented on #331
ah, sorry. forgot to refresh stack. launching now...

[2017-02-20 01:34] simoami commented on #331
btw, these are my steps:

[code]

[2017-02-20 01:37] mumoshu commented on #331
Thanks for sharing your steps 👍 Seems fine so far.

If your cluster still fail to launch, could you run `journalctl` on etcd and controller nodes to see which systemd unit(s) failed and why?

[2017-02-20 01:42] simoami commented on #331
While still building, it seems like it went past the prior step and successfully completed the cluster-Controlplane-* stack.

So I'm thinking it's probably the certs. The one I passed is set to api.hipsync.io but the cluster is getting created as `cluster.api.hipsync.io`. could that be the problem?

[2017-02-20 01:55] mumoshu commented on #331
@simoami Ah, it might be!

Wouldn't you need certs for `cluster.api.hipsync.io` or wildcard certs for `*api.hipsync.io`?

[2017-02-20 02:06] mumoshu commented on #302
@drock Sorry for the silence and thanks for the suggestion.

I guess we can also complicate (😋) cluster.yaml to support something like:

[code]

to define NAT gateways and reference ones from subnet definitions.

Do you have any preference and this and #303 and even another ideas?

[2017-02-20 02:36] mumoshu commented on #311
@danielfm Thanks for your feedbacks!

I'm sorry to say but not really.

Though kube-aws is even production-ready in IMHO(I'm already running our own k8s cluster serving serious production-workload at our company since I became the maintainer of kube-aws), it doesn't mean kube-aws is feature-complete or even design-complete, hence it is versioned v0.9.x.

We're still developing kube-aws aggressivel

[2017-02-20 05:15] simoami commented on #331
@mumoshu wildcard certificates can be expensive. I fixed the externalDNSName to point to api.hipsync.io, rather than cluster.api.hipsync.io

Now, I think I'm doing something wrong with the rendering credential using a public ssl. Would you mind reviewing the [approach](https://github.com/coreos/kube-aws/issues/331#issuecomment-280966789) mentioned earlier?

[2017-02-20 13:52] danielfm commented on #311
@mumoshu I use kube-aws since its early days and I'm very thankful for all the effort and love you and everyone else put into this project, so I'm sorry if my comments sounded too harsh or disrespectful in any way. That was not my intention. ❤️

I particularly don't believe there's such a thing as a feature-complete software, and in that sense, there's no version that's more special than the other

[2017-02-21 04:35] mumoshu commented on #331
@simoami Seems ok to me. Probably you're using either a wrong ca cert or a wrong key?
I'm not experienced in this area but maybe you can verify it by running:

[code]

and ensuring that the both commands output the equivalent value.

[2017-02-21 04:52] simoami commented on #331
@mumoshu thanks, nice trick. both cert and key as well as the concatenated cert produce the same md5 it seems.

[code]

Perhaps I'm approaching this the wrong way. I would be ok with self-signed ca for kube's admin api server if I can make my app (an front-end node.js service) available publicly. If the front-end service is behind a public load balancer, then https can be enabled for the load bala

[2017-02-21 05:05] mumoshu commented on #331
Hi @simoami, thanks for the quick reply!

Probably you need to do the below steps yourself:

* Generate the key(=`/credentials/api-server-key.pem/`) and the cert(=`/credentials/api-server.pem/`) so that the cert passed to kube-apiserver includes both `cluster.hipsync.io` and `api.hipsync.io`.
* Provision a secondary, internet-facing ELB and the record set named `api.hipsync.io` in your public host

[2017-02-21 05:26] simoami commented on #331
@mumoshu What would the externalEndpoint map to? the api-server or a service that we specify?

[2017-02-21 07:09] mumoshu commented on #331
@simoami What did you mean by `a service` in this case?

As the settings are under `apiEndpints:` key, I meant to express that every item in it denotes an internal or internet-facing ELB load-balances requests from e.g. kubectl to `kube-apiserver`s running on controller nodes.

[2017-02-21 08:44] c-knowles opened #333 "Is `workerSecurityGroupIds` no longer supported?"
I had a backlog item to start using this new feature but it seems it's no longer in the latest RC but is still inside the cluster.yaml template.

https://github.com/coreos/kube-aws/pull/127 added this feature and in [this commit](https://github.com/coreos/kube-aws/commit/aeb122dcccd2a4ec69712da2333ced02047bd1c1#diff-bfeae88573cf9afa7638e19a4f7b4535) it seems to get removed/changed (search for `wor

[2017-02-21 09:34] c-knowles opened #334 "Inconsistent S3 bucket prefix"
While running a validate using v0.9.4-rc.3 I noticed the main stack appears at `${S3_URI}/${CLUSTER_NAME}` but the sub-stacks appear at `${S3_URI}/kube-aws/clusters/${CLUSTER_NAME}/exported/stacks`. Shall we make this consistent? In my case I'm sometimes doing `aws s3 sync` to grab those files back to have a look at them and ideally it'd be good for that to just go into one S3 prefix.

My workarou

[2017-02-21 10:03] c-knowles commented on #333
I guess if this did change to be under `loadBalancer` then the name is a bit confusing if it's used for the purpose of the original issue https://github.com/coreos/kube-aws/issues/43.

[2017-02-21 14:56] soellman commented on #302
I am also getting hit by a related issue. We use managed NAT gateways with EIPs allocated outside kube-aws, and we have many (managed) private networks all of whom want to use a NAT gateway with the specified EIPs.

My use case would also be solved by allowing subnets to specify and share NAT gateways by name, as specified by @mumoshu. Thanks!

[2017-02-21 15:35] johsim opened #335 "Option to specify node pool worker certificate path"
I'm currently looking into the possibility to use kube-aws to deploy our cluster. However, my current setup is multi-tenant, and needs different worker keys/certificates for the different node pools. It would be awesome to have an option worker.nodePools[].certPath or similar to avoid using the "manageCertificates: false" option.

[2017-02-21 17:33] simoami commented on #331
@mumoshu a service in this context is an independent hello world service that serves a single REST endpoint. I'd like to expose it independent of the cluster api, served using in a secure connection. it should not require a client certificate and be publicly exposed

[2017-02-21 19:23] drock commented on #302
@mumoshu I think your suggestion would work great.  I don't think it should replace what is requested in #303 though.  I think there is still the use case for that.  Basically, when specifying a subnet you have 5 options regarding the natGateway

1. Leave it empty and a nat gateway will automatically be created for that subnet for it.
2. Specify an aws id of an existing gateway
3. Specify an outpu

[2017-02-21 20:55] simoami opened #336 "Run cluster in HA (multi-az)"
Apologies if i might have missed this, but Is it possible to configure kube-aws to spread workers across multiple availability zone? e.g. us-east-1a, us-east-1b ...etc.

Ref. https://kubernetes.io/docs/admin/multiple-zones/

[2017-02-21 20:59] redbaron commented on #331
@simoami why are you doing this? kube certs you use in `kube-aws` are not what certs client of your service will see,only kubectl coommands you run locally and kubelet <-> Kubernetes API server  are using them. there is no reason to have godaddy cert on your Kubernetes API server as there are no web browsers which are going to hit it

When you see ExternalDNSName in `cluster.yaml` that is a name f

[2017-02-21 21:00] redbaron commented on #336
look at cluster.yaml comments

[2017-02-21 21:03] simoami commented on #331
@redbaron apologies. just came to this realization about 2 hours ago. I'm still new to kube-aws. it was able to use the LoadBalancer type to spawn a public ELB. also looking at the ExternalName type. I will close this ticket.

[2017-02-21 21:03] simoami commented on #331
@redbaron @mumoshu Thanks to both!

[2017-02-21 21:03] #331 closed

[2017-02-21 21:10] simoami commented on #336
oh, I see the relevant docs here:
https://github.com/coreos/kube-aws/blob/master/Documentation/kubernetes-on-aws-node-pool.md#deploying-a-multi-az-cluster-with-cluster-autoscaler-support-with-node-pools

[2017-02-21 21:10] #336 closed

[2017-02-21 21:36] redbaron commented on #331
@simoami you'll probably be creating `Service` with type `LoadBalancer` for your service, which will make kubernetes to provision ELB for you and configure it to point to PODs running your service You can use `service.beta.kubernetes.io/aws-load-balancer-ssl-cert` annotation on that service resource to configure SSL cert on that ELB.

More annotations recognised by kubernetes AWS integration can b

[2017-02-22 01:59] c-knowles opened #338 "Feature: Restricted SSH access"
As of v0.9.4-rc.3, SSH access is granted to all addresses for controllers, workers, etcd. As an extra layer could we support restrictions on that?

In the case of public controllers but private etcd and workers, generally there may need to be a way to gain SSH access to the private workers by tunnelling through the public controllers. i.e. SSH access allowed from controller SG to worker SG. We cou

[2017-02-22 03:45] simoami commented on #331
thanks @mumoshu I used the following annotations:
[code]
along with dns alias and finally got my service running on https

[2017-02-22 04:06] simoami commented on #330
I approached this the wrong way. The public ssl was meant for an app level front-end service, which I ended up using on a service.yaml. As for the cluster, a private ca and generated certs is ok because it's for admin and internal access anyways.

[2017-02-22 04:06] #330 closed

[2017-02-22 06:39] c-knowles commented on #253
At some point soon this may be more "native" - https://github.com/kubernetes/features/issues/171.

[2017-02-22 13:30] c-knowles opened #340 "Feature: Add custom IAM policies to worker node pools"
I'm using some [route 53 tooling](https://github.com/fairfaxmedia/area53) which requires additions to the worker IAM role. I'd like to be able to able to specify custom policies without altering the stack templates so much.

We've added some similar items like in https://github.com/coreos/kube-aws/pull/297 for common use cases but I feel like each one is tool specific and not sure we should active

[2017-02-22 14:01] redbaron commented on #340
here we go, our `cluster.yaml` continues it's journey to become `cloudformation.yaml` :)

on serious note, with nodepool mega PR merged, we now have facilities to embed nested CF stacks. If we have `user-stack.json` which is managed by user and never touched by kube-aws apart form including it as a nested stack, will it work for you?

[2017-02-22 14:04] redbaron commented on #340
@c-knowles , out of curiosity, did you evaluate https://github.com/kubernetes/kops/tree/master/dns-controller before choosing  https://github.com/fairfaxmedia/area53 ?

[2017-02-22 14:22] c-knowles commented on #340
@redbaron I agree with you on the cluster.yaml aspect. I'd prefer if there is a way to link custom pieces into the stack. That's instead of kube-aws directly managing it or needing to edit the kube-aws driven stack templates each time. Editing that way is usually complex and error prone since they change frequently, are hard to read/parse and often it's difficult to have knowledge of every incomin

[2017-02-22 16:32] Thermi opened #341 "Name and ControllerHost printing is broken"
When running `./kube-aws up [...]"`:

[code]
Version v0.9.4-rc.3

[2017-02-22 23:08] mumoshu commented on #333
@c-knowles Thanks as always for your feedback.
I've never intended to drop `workerSecurityGroupIds`!
If it worked correctly, it should have concatenated workerSecurityGroupIds with loadBalancer.securityGroupIds to finally render all the additional security groups associated to nodes.

[2017-02-22 23:17] mumoshu commented on #341
Thanks @Thermi!
It seems like I've missed implementing it in #315

[2017-02-22 23:23] mumoshu commented on #340
@redbaron @c-knowles

Would it work for you if you could define in the imaginary `user-stack.json` something like:

[code]

[2017-02-22 23:27] mumoshu commented on #340
Ah, how to do this consistently among the control plane stack and node pool stacks is an another difficulty 😉

[2017-02-22 23:30] mumoshu commented on #27
#332 for the ASG-EBS-EIP/ENI-per-etcd-node strategy of achieving H/A and rolling-updates and an etcd cluster is almost finished 😃
Anyone is working on the backup/restore feature?

[2017-02-23 03:34] c-knowles commented on #340
@mumoshu I assume the intent there is simply to link another policy to the same worker role? I believe that would work well. That sort of hook is exactly what I'd hoped for. It would allow quite a lot of customisation, we could even remove baked-in support for some of the other settings such as pulling from ECR, kube2iam... actually anything which is not directly needed by kube-aws we could shift

[2017-02-23 06:42] c-knowles opened #343 "Feature: Allow additional DNS names to be added to API TLS assets"
One way to deploy large cluster updates is to deploy an entirely new cluster, export services from the old cluster, import to new cluster and switch DNS (this way works fine for stateless services).

The way I've been doing this is to give the cluster name a version and then set a Route 53 DNS alias to that version. i.e. `k8s-dev.DOMAIN` points to `k8s-dev-v2.DOMAIN`. This means that places refere

[2017-02-23 06:56] c-knowles commented on #343
I've done a brief proof of concept for this, not tested it much yet but seems to work as expected.

[2017-02-23 09:30] ankon opened #344 "Set /O=system:masters for the admin certificate DN"
As per https://kubernetes.io/docs/admin/authorization/#rbac-mode:

With kube-aws v0.9.4-rc.3 I see:
[code]

[2017-02-23 14:11] ankon commented on #344
Looking at other recent changes in that area: with k8s 1.5+ this change would make it unneeded to add the /srv/kubernetes/rbac/cluster-role-bindings/kube-admin.yaml binding I think: having the kube-admin user assigned to the super-user role removes the need to further provide any role bindings for that user.

[2017-02-23 14:28] ankon opened #346 "Custom settings not available in node pools"
I'm seeing this error for a template rendered with 0.9.4-rc.3, and a node pool with a change that requires the custom settings:
[code]

Change in the user data:
[code]

[2017-02-23 14:52] ankon opened #347 "IAM role names are getting too long"
In my cluster config:
[code]

This produces a role name like this:
[code]

This is too long for AWS: role names can only have 64 or fewer characters.

I can see some redundancy I can trim, but ultimately it is really really getting tight :)

EDIT: Forgot the purpose of this issue: I think it would be good to document this limitation, and make sure the user knows about it. But where?

[2017-02-23 16:00] ankon opened #348 "`kube-aws up` doesn't show outputs"
Seen now with 0.9.4-rc.3: after `kube-aws up` finished the output seems to be missing some values for 'Name' and 'ControllerHost'.

[code]

[2017-02-23 20:51] mandrean opened #349 "Can't upgrade from v0.8.3 to v9.x.x"
Hi,

We're running our production cluster on kube-aws `v0.8.3`, hyperkube `v1.4.5`.

Created a carbon copy cluster (but different name) to simulate an upgrade to kube-aws `v9.x.x`, hyperkube v1.5.x`. But I can't!

*Steps to reproduce:*

1) kube-aws `v0.8.3`: init -> use default values in `Cluster.yaml`but 3x Controller, 3x Etcd, 6x Workers
2) kube-aws `v0.8.3`: render & up
3) Bump workers to 7x
4)

[2017-02-23 21:23] redbaron commented on #346
not to say that `.CustomSettings` shouldn't be fixed, but why do you need swap? there is even a flag to enable startup with swap, but description suggests, that starting from version 1.6 kubelet going to refuse to start if it detects that swap is enabled:

[2017-02-23 21:31] ankon commented on #346
Interesting. Didn't know that, so that's certainly to be considered.

Why do I _need_ swap: I'm not 100% sure I do, but given the apps I'm running in the cluster I know that they might have quite a bit of "unused" memory (Java ...).

[2017-02-23 21:49] redbaron commented on #346
`resources.request.memory` is used to schedule, but doesn't limit resource usage. so it can be set smaller than actual usage, which itself is limited by `resources.limit.memory`.

Actually Java memory is one of the most predictable. from previous experience it was safe to set container limit to Heap size (defined by `-Xmx`) + 256 MB

[2017-02-24 06:42] mumoshu commented on #27
fyi: @hjacobs kindly shared me that his company uses https://github.com/zalando-incubator/stups-etcd-cluster#design for running dedicated etcd clusters, separately from k8s clusters.
Multi-region etcd cluster sounds exciting 😄

[2017-02-24 06:46] mumoshu commented on #27
#332 is generally working with ability to choose which strategy to be used for node identity and an optional support for DNS other than Amazon DNS(related issue: #189)

[2017-02-24 06:54] mumoshu commented on #189
Hi @cmcconnell1 @rbellamy, I've submitted a WIP PR #332 to achieve H/A of etcd clusters with supports for various etcd peer discovery strategies.

According to the `domain-name-servers = 10.1.0.2` setting you've shown me in the very beginning of this thread, you rely on the default DNS - Amazon DNS - provided by AWS, right?
If that's the case, I believe that #332 would solve your issue.
More concr

[2017-02-24 07:01] mumoshu commented on #347
Thanks for the feedback @ankon!
In the meantime, how about adding some comments on `managedIamRoleName`, `clusterName`, `nodePools[].name` about the limitation?
Adding validations for the simulated length of IAM role names would be even nicer.

[2017-02-24 07:05] mumoshu commented on #290
@cmcconnell1 Could you confirm that this is fixed in the latest rc? Thanks!

[2017-02-24 07:17] mumoshu commented on #260
Hi @mariusmitrofan, sorry for the long silence!
I'd been working on #332 for H/A etcd cluster and also the support for your use-case.
With #332, a configuration like:

[code]

while somehow configuring your custom DNS to resolve `etcd1.<your domain-name>` to the first etcd node's private ip, `etcd2.<your domain-name>` to the second etcd node's private ip, and so on, would fit your setup.

`etcd.in

[2017-02-24 07:20] mumoshu commented on #49
Can I close this once #332 is merged?

[2017-02-24 07:20] mumoshu commented on #44
ping @c-knowles

[2017-02-24 07:22] mumoshu commented on #281
Are there any use-case that requires 2 or more external endpoints and/or 2 or more internal endpoints?
If not, I'll go ahead with https://github.com/coreos/kube-aws/issues/281#issuecomment-277603491

[2017-02-24 07:34] billyteves commented on #27
@mumoshu quick question, I am not that familiar with ETCD but when you mean as a HA etcd cluster, does that mean it run as a replica?

[2017-02-24 07:38] mariusmitrofan commented on #260
Hi @mumoshu,

I wasn't expecting the fix to be something this "huge"... In my mind, the only thing you would need to change were the below ones :
[code]

and one would just replace the `amazon` hostname with what was provided in the config file. I mean... That's all that I had to change anyway...

Either way, if this works, then sure :)

Cheers,
Marius

[2017-02-24 10:59] ankon opened #351 "`kube-aws status` cannot find control-plane"
With 0.9.4-rc.3:
[code]

The problem here is that core/controlplane/config/config.go has the stack name as "control-plane":
[code]

All places _using_ that however apply some "make it AWS-nice" logic to it, for example template_params has:
[code]
`func (c *ClusterRef) Info() (*Info, error)` should either do that as well, or somehow use the existing function for doing it.

[2017-02-24 11:01] ankon commented on #348
Actually this is a dup of #341, so closing this one.

[2017-02-24 11:01] #348 closed

[2017-02-24 13:39] redbaron opened #352 "CF rollback wouldn't work because of S3 userdata"
kube-aws should upload userdata to S3 bucket using hash name of the file, that is because if we use `WaitSignal` and we have an error in userdata, then CF tries to rollback to previous CF state, but that state doesn't include data on S3 bucket, therefore instance which is being rolled back continues to come up with broken metadata and CF rollback fail eventually.

[2017-02-24 18:27] gianrubio commented on #49
@mumoshu sure!

[2017-02-25 18:10] simoami opened #355 "Add basic auth for user authentication in addition to client certs"
Hello, is there a guide to add basic auth for user auth to the api server? I'd like to add it as a secondary mean of accessing the dashboard ui on the browser without using a proxy.

Quoting the docs:

ref: https://kubernetes.io/docs/admin/authentication/#authentication-strategies

[2017-02-25 18:22] simoami commented on #355
I understand it means passing `--basic-auth-file=/accounts.csv` to the kube-apiserver command but where do I do that in the context of `kube-aws`?

[2017-02-26 11:31] c-knowles commented on #44
@mumoshu I'm happy this has been covered off now, the remaining items were mostly in https://github.com/coreos/kube-aws/pull/315. For anyone who ends up here, I've ended up using the additions in https://github.com/coreos/kube-aws/pull/315 to have kube-aws manage the subnets and route tables while referencing an existing set of NAT Gateways (node pools set to private).

[2017-02-26 11:31] #44 closed

[2017-02-26 11:45] c-knowles commented on #333
I found `worker.nodePools[].loadBalancer.securityGroupIds` works as expected so I am able to add SGs to worker node pools, however I couldn't get `workerSecurityGroupIds` to work. My vote goes for any fixes to this to just add `worker.nodePools[].securityGroupIds` or `worker.securityGroupIds` as the base set of SGs.

[2017-02-26 18:07] gianrubio commented on #355
You can edit https://github.com/coreos/kube-aws/blob/master/core/controlplane/config/templates/cloud-config-controller#L901 add your arguments and recompile your code again.

If you already rendered the template you can just change  ./core/controlplane/config/templates/cloud-config-controller and update your stack

[2017-02-26 18:16] simoami commented on #355
@gianrubio before I try that again. how do I upload accounts.csv? just place it in credentials folder and expect that it will be uploaded? or create one inline:
[code]

[2017-02-26 18:24] gianrubio commented on #355
create one inline should works

[2017-02-26 18:46] simoami commented on #355
@gianrubio My attempt at updating the stack resulted in a rollback. The edits passed validation but there was an error related to auto scaling group:

[code]

[2017-02-26 19:31] simoami commented on #355
The update error is fixed by explicitly setting `rollingUpdateMinInstancesInService` in cluster.yaml to one count less than `maxSize` under `controller:`

[2017-02-26 21:26] gianrubio commented on #355
this error  is related to #325, I'll work on this ASAP

[2017-02-26 21:28] simoami commented on #355
@gianrubio since I changed the config, the controller is not coming up properly. I ssh'ed into the controller instance and printed the logs:

[code]

It complains that the file doesn't exist, but the file is there:
[code]

I wonder if the apiserver launches before? I added the creds file under `write_files:` [line 332](https://github.com/coreos/kube-aws/blob/master/core/controlplane/config/templat

[2017-02-26 21:51] gianrubio commented on #355
You forgot to  mount the volume for this directory, remember you are running the apiserver as a pod.
https://github.com/coreos/kube-aws/blob/master/core/controlplane/config/templates/cloud-config-controller#L946-L959

[2017-02-26 22:16] simoami commented on #355
Thanks @gianrubio, it worked! It would be nice to have this feature configurable in `cluster.yaml`.

Should someone have similar needs, here are the steps:

1. After running `kube-aws render stack`, open `./user_data/cloud-config-controller` for editing.

2. Under `write_files:` [line 332](https://github.com/coreos/kube-aws/blob/master/core/controlplane/config/templates/cloud-config-controller#L33

[2017-02-26 22:31] #355 closed

[2017-02-26 22:42] mumoshu commented on #260
@mariusmitrofan Thanks for the feedback!
Excuse me but are you sure that the fixes you've imagined are enough for achieving H/A of etcd clusters?
We need to somehow provide a "stable" hostname to an etcd node so that we can be sure that an actual EC2 instance backing that hostname can fail and then be recreated freely without resulting down time.

[2017-02-26 23:12] mumoshu commented on #352
@redbaron Good catch!
Using the hash of a file's name sounds good.
I'm not saying it shouldn't be fixed but one concern is; how can we clean up old files so that the s3 bucket won't get bloated with already unused ones?

[2017-02-26 23:52] #344 closed

[2017-02-27 03:24] mumoshu commented on #333
@c-knowles Could you try `worker.securityGroupIds`? I'd been forgetting that I experimentally renamed it in #315 for consistency reason.

However, I believe it's true that I've (mistakenly) dropped the support for the former `workerSecurityGroupIds`.
Would you like to support not only the new `worker.securityGroupIds` but also the former `workerSecurityGroupIds`?

[2017-02-27 05:26] #351 closed

[2017-02-27 05:28] mumoshu commented on #341
I'm closing this as fixed via #356 but please feel free to reopen if it still persists.
Thanks for reporting, @Thermi 👍

[2017-02-27 05:56] #341 closed

[2017-02-27 06:55] mariusmitrofan commented on #260
Hi @mumoshu

My fix has nothing to do with etcd. It only adresses the problem in this thread.

The reason it works is simply because instead of using the DNS domain that amazon provides, I hardcoded my own DNS domain.

Again, this has nothing to do with etcd... The original design was hardcoding the amazonaws domain in the config, and etcd was using a hostname config based on that dns. What I need

[2017-02-27 07:01] #346 closed

[2017-02-27 08:58] gianrubio commented on #352
@mumoshu tagging the template should works?  http://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html

[2017-02-27 12:18] glerchundi opened #359 "flannel through DaemonSet and --kube-subnet-mgr"
I think the title is self-hosted, emm, self-explanatory :)

But can anyone answer why this project is relying on flannel v0.6 and not on v0.7 and use k8s instead of etcd to configure networking which simplifies host deployment and dependencies.

Release: https://github.com/coreos/flannel/releases/tag/v0.7.0
PR: https://github.com/coreos/flannel/pull/483

[2017-02-27 14:58] c-knowles commented on #333
@mumoshu not bothered at all about the old name, I think it's better to update cluster.yaml than keep supporting so many similar options. I will try and if it works we just need to update cluster.yaml template.

[2017-02-27 21:59] whereisaaron commented on #134
FYI @mumoshu @redbarron yesterday the GCI deployment of the [core project was switched from `logrotate` for container logs to uses docker log driver rotation](https://github.com/kubernetes/kubernetes/pull/40634/files).

They [noted the same down sides](https://github.com/kubernetes/kubernetes/issues/38495) we noted:
- `copytrunate` sucks
- using the docker driver is better, but specific to that co

[2017-02-27 22:41] mumoshu commented on #359
Hi @glerchundi, thanks for posting this!
Is this a feature request or just a question?
If it's the former, I guess you'd need to submit your request to where Container Linux is developed, not here.
We don't manage Container Linux itself but just configure it via cloud-config's.
If it's the latter, probably because v0.7 is still new and Container Linux's "stable" channel doesn't include it.

[2017-02-28 00:47] mumoshu opened #362 "e2e: node pool "Fleet2" fails to be created"
![image](https://cloud.githubusercontent.com/assets/22009/23386604/af4ff198-fd9a-11e6-968c-0137f5d120ca.png)

[2017-02-28 02:09] mumoshu commented on #362
fyi: a spot fleet does fail to be created when there're duplicates inside the `SecurityGroups` array while an ASG does not.
That's why only the spot-fleet-based node pool failed.

[2017-02-28 04:20] mumoshu commented on #134
Thanks for the info @whereisaaron 👍

[2017-02-28 08:04] listenrightmeow opened #363 "Controlplane autoscaling group failing"
**v0.9.4**

Cluster.yaml, CLI output: https://gist.github.com/listenrightmeow/0f4cd26b492971544d30d04a70e0941a
Cloudformation output: https://www.dropbox.com/s/34rhnt5f6r5dawd/Screenshot%202017-02-28%2000.02.24.png?dl=0

I'm working off of the test config as described in : https://github.com/coreos/kube-aws/pull/315#issue-206688969

I've tried tons of variations with the `cluster.yaml` but I'm una

[2017-02-28 08:12] mumoshu commented on #363
Hi @listenrightmeow!
Just a quick question but anything suspicious in the output of `journalctl` on any of controller nodes?

[2017-02-28 08:15] mumoshu opened #364 "feat: Dump the tail of `journalctl -e` for each node in the ASG failed to be created"
So that we can encourage everyone to submit his/her question with the journalctl output, which would be helpful for us to investigate further.

[2017-02-28 08:29] gianrubio commented on #364
@mumoshu this will be very helpful, in my previous job I had the same visibility problem. I saw 3 options to get this logs.

1 - Connect from kube-aws to the instance over ssh (hard + network connectivity issues like new vpc in a private subnet)
2 - Upload logs to s3 (https://github.com/Factual/s3-journal), can be enabled by flag ```--s3-journal``` (looks easy)
3- Send logs to [cloudwatch](https:/

[2017-02-28 08:35] gianrubio commented on #349
@mandrean could you export your template and share with us? Also share your cluster.yaml
``` bin/kube-aws up --export --s3-uri=s3://...```

[2017-02-28 08:46] redbaron commented on #363
@listenrightmeow , this EFS setting wont work, as EFS can't be mounted across AZs

[2017-02-28 08:52] redbaron commented on #364
I'd prefer `3` , but only up until WaitSignal is fired. Cloudwatch can be expensive to use , but using it as a boottime diagnostic tool shouldn't incur much cost.

[2017-02-28 09:17] gianrubio commented on #364
My suggestion is to just enable this when a flag ``--journal-to-cloudwatch`` is set.
BTW the cost is just [$0.57 per GB ingested](https://aws.amazon.com/cloudwatch/pricing/)

[2017-02-28 09:56] redbaron commented on #364
yeah, as anything with cloud it is cheap on a small scale :)

[2017-02-28 15:56] gianrubio commented on #27
@mumoshu https://github.com/kubernetes/kubernetes/issues/40027

[2017-02-28 16:45] Camsteack opened #365 "v0.9.4: kube-aws doesn't allow cluster names with dots"
In the new version of kube-aws, the cluster name cannot contain any dots as is it used in the cloudformation output name of some ressources. I don't know if it was on purpose or not but it would be nice if it was documented in the cluster.yaml for example as the error you get is not straightforward and I had to dig in the cloudformation stack to find out.

[code]

Just a suggestion and great job w

[2017-02-28 17:23] listenrightmeow commented on #363
@redbaron was correct.

I'm assuming that we can declare `elasticFileSystemId` directly in nodePool declarations?

Thanks for the help, @redbaron & @mumoshu!

[2017-02-28 17:23] #363 closed

[2017-02-28 22:29] mumoshu commented on #27
@gianrubio Thanks for the info!
fyi I've commented on the etcd v3 draft documentation referred from there with a question https://docs.google.com/document/d/16ES7N51Xj8r1P5ITan3gPRvwMzoavvX9TqoN8IpEOU8/edit?disco=AAAABHpLq1U

[2017-02-28 22:46] mumoshu commented on #27
fyi my question is briefly:

* Is it safe to just take an EBS snapshot WHILE etcd is still writing data to the EBS volume(=without freezing the filesystem) and restore from it?
  * Does it apply to both etcd v2 and v3?
* If so, how do we strip metadata(including the identity of the etcd node)?
* Do we need to take an EBS snapshot per node and restore it to an etcd node with the same identity as in

[2017-02-28 22:52] mumoshu commented on #365
Thanks for the feedback @Camsteack!
Just for a confirmation, you've set `etcd.memberIdentityProvider: eni` but not `etcd.internalDomainName`, right? (It's a valid configuration. I'm not saying you to not do that! Really just an confirmation.)

[2017-02-28 22:58] mumoshu commented on #365
Ideally `clusterName` could be set to anything but as it is used for stack output names and is even going to be used as part of the default internal domain name as per #332, I'd rather like to validate `clusterName` to only include alphanumerics and hyphens and underscores.

[2017-02-28 22:59] mumoshu commented on #365
And a documentation in `cluster.yaml` would also help.
Thanks for the suggestion @Camsteack 👍

[2017-02-28 23:18] mumoshu opened #366 "Refactor: Rethink how packages and types are organized"
According to #271 especially @redbaron's comment, I'm rethinking how packages and types are organized.

kube-aws has changed its feature significantly and gotten complicated in recent months. The list of notable changes include:
* From non-HA to HA
* From single cfn stack to multiple stacks
* From single k8s cluster to separation of control plane and node pools
* From single cluster.yaml to multip

[2017-02-28 23:19] mumoshu commented on #366
Just my two cents, the whole package tree should be:

* awsdriver/
  * assets.go
  * cfnstack.go
  * provisioner.go
  * s3_uri.go
* cluster/
  * describer.go
  * destroyer.go
  * options.go
  * renderer.go
  * stack/
    * root/
      * describer.go
      * destroyer.go
      * options.go
      * renderer.go
    * controlplane/
      * describer.go
      * destroyer.go
      * options.go
      * r

[2017-02-28 23:27] mumoshu commented on #366
* The fat `cluster.Cluster`, which had been referenced from various `cmd/*.go`, should be split into smaller but MECE parts e.g. `cluster.Describer` referenced from `cmd/status.go`, `cluster.Destroyer` referenced from `cmd/destroy.go`, `cluster.Provisioner` referenced from `cmd/up.go` and `cmd/update.go` and so on
* We should differentiate the kube-aws "cluster" as a whole vs sub-clusters/nested s

[2017-02-28 23:32] mumoshu commented on #366
* duplicated words in a sequence of a package and a type e.g. cluster.Cluster and config.Config seems like a sign of a fat implementation of a type. Avoid it.
* `models/` should be named `config/` once the former `core/nodepool/config` and `core/controlplane/config` are sorted out, extracted and merged into the current `models/`.

[2017-02-28 23:34] mumoshu commented on #366
* As we no longer have a dedicated cluster.yaml for each node pool, `core/nodepool/config.(Config|Cluster)FromBytes` should be removed

[2017-03-01 05:39] mumoshu opened #367 "e2e: The second and the subsequent testinfra stacks fail to be created"
Because of collision in ALB target groups' names.
We'd want to name the ALB target group in each testinfra stack prefixed with the stack name so that the collision goes away.

[2017-03-01 06:54] #362 closed

[2017-03-01 06:54] #367 closed

[2017-03-01 07:06] redbaron commented on #363
@listenrightmeow was I? EFS can have multiple mount targets, one per AZ, therefore it can be mounted across AZ, no?

[2017-03-01 07:09] listenrightmeow commented on #363
I was so excited to get the cluster online with the immediate change, I was assuming that was the correct solve. I think it's safe to say that the AWS issues in us-east-1 today were giving me problems.

Although I was pushing in us-west-2, the S3 bucket configured for kube-aws was located in us-east-1.

I am going to try to re-launch a cluster with EFS support tomorrow. I'll update this ticket wit

[2017-03-01 07:58] #287 closed

[2017-03-01 08:06] #258 closed

[2017-03-01 10:00] c-knowles commented on #148
Helm Chart for [cluster-autoscaler](https://github.com/kubernetes/charts/tree/master/stable/aws-cluster-autoscaler also ) now also available.

[2017-03-01 10:24] redbaron opened #370 "Controller node should be tagged appropriately"
Apparently there are some well-known-but-not-documented-tags which are taken into consideration by AWS cloud provide, one example of it would be:
https://github.com/kubernetes/kubernetes/pull/41702/files#diff-07ba008af9c76b0539556ff7fde3105eR162

so we should follow the pattern and tag our nodes

[2017-03-01 13:39] javapapo opened #371 "waitSignal cluster.yaml section is not - respected in the template"
Assuming that you have the following section configured on your cluster.yaml
[code]
Unfortunately on the generated cloudformation (after the stack is rendered) - or even in the intermediate template. We always have the section generated!

For example looking at the sections of `node-pool.json.tmpl`

[code]
it seems that this part is always rendered on the generate stack.json.

Since this, part is

[2017-03-01 15:22] Camsteack commented on #371
Hi @gianrubio

This is not really what we need. The issue is that the Waitsignal is not working and is causing the stack to fail as it does not get a valid response from all the worker node, even if they are properly created.
We want to be able to disable it using
[code]

But it is not working so we have to manually remove it from the stack template.
Thanks a lot.

[2017-03-01 15:26] gianrubio commented on #371
@Camsteack I accidentally pushed the code, I haven't finished yet. Sorry

[2017-03-01 15:27] mumoshu commented on #371
Hi! Just a quick reply but as the comment implies, please try changing
`worker.nodePools[].waitSignal` to disable it for a node pool.
2017年3月2日(木) 0:22 Camille <notifications@github.com>:

[2017-03-01 15:48] Camsteack commented on #371
We will try that. Thanks a lot @mumoshu and @gianrubio
We are having the same issue with :
[code]

I don't know if we are doing something wrong in the syntax but it is not picked up but the stack template either.

[2017-03-01 21:20] RaphaelHerd commented on #285
Sry for my late response. I changes the default DNS names that are denoted in the tls_config.go file. For my test case I don't need any official CA.

So you can close the issue

Thx for help

[2017-03-01 21:20] #285 closed

[2017-03-01 22:22] mumoshu commented on #370
Thanks as always @redbaron 👍
After looking into the code, "kubernetes.io/role/master" and "k8s.io/role/master" referred in the PR you've shared are only tags seems to be used as of today.
So just let's tag our with those.

[2017-03-01 22:29] mumoshu commented on #49
Thanks for the confirmation @gianrubio!
I'm closing as #332 is merged.

[2017-03-01 22:29] #49 closed

[2017-03-01 22:42] mumoshu commented on #219
@Thermi FYI, inspired by our discussion here, I've utilized the pool-of-EIPs technic in #332.

Regarding the state keeping you've mentioned, I've used a pool of pairs of an EBS volume and an EIP.

More concretely, in #332, every etcd node tries to attach an EBS volume from the pool via cloud-config at startup. If the volume attachment was unsuccessful, repeat until it succeeds. Once a volume is su

[2017-03-01 22:58] mumoshu opened #372 "cluster.yaml: Deprecate `controller*` and `etcd*` keys in favor of nested keys"
Make cluster.yaml a bit more clearer by deprecating `controller*` and `etcd*` keys in favor of nested keys and move those keys under the `controller` and `etcd `keys respectively.
Also introduce `rootVolume` and `dataVolume` keys in several places to make volume configuration more consistent across `worker`, `etcd` and `controller`.

Doing so would allow us to (1) remove duplicated code by reusing

[2017-03-01 23:43] mumoshu commented on #281
Probably, we'd need something like the below to consistently support both this use-case and @c-knowles's use-case #343:

[code]

[2017-03-01 23:54] mumoshu opened #373 "Allow defining multiple k8s API endpoints with/without managed ELB"
Accordingly to use-cases:

* internal or external
* stable/unversioned one for CI&CD or dynamic/versioned one as we have today

This is intended to eventually resolve all the related issues #281 #285 #343

---

## Configuration examples

`cluster.yaml` after this feature is implemented would look like:

[code]

and

[code]

and

[code]

and

[code]

If you'd like to just add alternate DNS names to

[2017-03-02 00:41] mikedeltalima commented on #214
I'm using v0.9.3-rc.5, and I think I've hit the same issue. This mentions that the Destination Unreachable Custom ICMP rule is necessary, instead of the general ICMP rule in place. http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html#path_mtu_discovery

[2017-03-02 00:43] c-knowles commented on #372
Do we want to layer it any more at the same time we remove some backwards compatibility? e.g. `etcd.rootVolume.size`, `etcd.rootVolume.type`

[2017-03-02 00:44] c-knowles commented on #372
We may be able to share more code between worker/controller/etcd like this?

[2017-03-02 00:45] mumoshu commented on #53
Hi @Krylon360!
Your suggestion seems to have been implemented via #297.

[2017-03-02 00:53] mumoshu commented on #340
@c-knowles

Yes.

I'm wondering if #53 could also support your use-case?
The idea is that you can pass an existing IAM role configured as you like by specifying `worker.roleArn`:

[code]

[2017-03-02 00:58] mumoshu commented on #340
Updated my last comment a bit

[2017-03-02 01:00] mumoshu commented on #343
@c-knowles I came up with #373 to support various use-cases including yours regarding how we configure and manage k8s API endpoints.
Does #373 make sense to you?

[2017-03-02 01:22] mumoshu commented on #214
Hi @mikedeltalima!

According to [the doc about IpProtocol](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupIngress.html) and the change introduced by #220, I assume that the security group should have been properly configured by allowing all the ICMP messages.
Could you share us how your security group assigned to your ELB configured so that we can investigate furt

[2017-03-02 01:25] mumoshu commented on #372
@c-knowles

Yes 👍

[2017-03-02 01:25] mumoshu commented on #372
Probably yes

[2017-03-02 01:28] mumoshu commented on #347
Btw: Perhaps implementing #53 would be a last resort for us to work-around this issue without shortening clusterName, nodePools[].name and managedIamRoleName.

[2017-03-02 03:10] mumoshu commented on #343
This seems to be a duplicate of #285 but leave this open because #285 is already closed.

[2017-03-02 03:11] mumoshu commented on #373
Hi @c-knowles @tarvip @spacepluk, could you confirm if this feature would resolve all of your use-cases including #281 and https://github.com/coreos/kube-aws/issues/281#issuecomment-277202320 and #343?

[2017-03-02 03:13] mumoshu commented on #27
FYI [my question was answered](https://github.com/kubernetes/kubernetes/issues/40027#issuecomment-283512123
) thanks to @hongchaodeng 😄

[2017-03-02 03:33] mumoshu commented on #27
In a nutshell, I'd like to start with a POC which supports:

1. Automated backup of etcd cluster
  * Probably by periodically running `etcdctl backup` and then `aws s3 cp <backup dir> <etcd backup s3 uri>/<storage revision>` in the "next" node of a "leader" node at that time
  * `<etcd backup s3 uri>` would be specified via `cluster.yaml`

And then extend it to also support:

2. Manual recovery of

[2017-03-02 08:15] tarvip commented on #373
[code]

Here is something missing, how can I define that the latter one is internal ELB?

I guess `private: true` is missing.

On the other hand I'm trying to understand what is the difference between
`private: true` and `public: false` or `private: false` and `public: true`

[2017-03-02 09:57] Thermi commented on #219
@mumoshu What's up with the "I couldn't make it work"?

[2017-03-02 13:24] mikedeltalima commented on #214
Hi @mumoshu - thanks for re-opening the issue. I didn't see any improvement when I changed the rule, so my guess didn't pan out. Here's a screenshot of the relevant inbound rules on the instance that is "OutOfService". They are the same as my previous deployment, which is still working.
<img width="956" alt="screen shot 2017-03-02 at 8 21 55 am" src="https://cloud.githubusercontent.com/assets/1971

[2017-03-02 14:25] glerchundi commented on #359
sorry for the delay!

It's a question about viability and if exists, I'm asking the why not :)

Umm, then I have another question, why not decouple from the cloud-config and keep your flannel container under control by specifying the specific version you want to use? And then implement this in case it's an interesting feature?

I think this would help keeping things under (even more) control. Some

[2017-03-02 14:35] drywheat commented on #283
The intelligent way to configure this is actually pretty clear to me now. I think a *General Recommendations* section on how to configure the rolling updates section might be useful in order to address others concerns:

* HA during update  ( e.g. what happens if an AZ goes down during a rolling update? )
* Throughput ( i.e. how many instances do I need servicing requests during a rolling update? )

[2017-03-02 14:35] #283 closed

[2017-03-02 14:58] drywheat opened #375 "Controllers nodes need security group glue"
### Versions

**kube-aws**: v0.9.3-rc.5
**kubernetes**: v1.5.1

### Problem

I want to create a DaemonSet and have the Pods it spawns (including the controller nodes) connect to an existing service I have running in the same AWS VPC. Currently, I am only able to link K8s worker nodes to existing services using the `workerSecurityGroupIds` attribute in the kube-aws **cluster.yml**.

Does it not mak